<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">
    
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	    <!-- 验证 -->        
     <!--    <property name="authenticator" ref="myModularRealmAuthenticator"/> -->
        	<property name="realm" ref="realmPhone" />
		   <!-- 多个验证策略 realmes -->
		<!--    <property name="realms">
	           <list>
	               <ref bean="realmUser"/>
	               <ref bean="realmPhone"/>
	           </list>
          </property> -->
	</bean>
	
	<!-- 授权策略 -->
    <bean id="authenticator" class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
        <property name="authenticationStrategy" >
            <bean class="org.apache.shiro.authc.pam.AllSuccessfulStrategy"/>
        </property>
    </bean>
    
	<!-- Realm -->
	<bean id="realmUser" class="com.zhita.controller.shiro.UserRealm">
		<!-- <property name="credentialsMatcher" ref="credentialsMatcher"/> -->
	</bean>
	<bean id="realmPhone" class="com.zhita.controller.shiro.PhoneRealm">
		<!-- <property name="credentialsMatcher" ref="credentialsMatcher"/> -->
	</bean>
	
	<!-- 加密 -->
	<!-- <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher"> 
		加密方式 <property name="hashAlgorithmName" value="MD5"/> 加密次数 <property name="hashIterations" 
		value="1024"/> </bean> -->

	<!-- Shiro的Web过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		
		<!-- 在此处配置未登录跳转页面 -->
		<property name="loginUrl" value="/login.jsp" />
		<!--在此处配置无权限的跳转路径 -->
		<property name="unauthorizedUrl" value="/error.jsp" />

		<!-- 在此处配置无权限的跳转路径 -->
	<!-- 	<property name="unauthorizedUrl" value="/error.jsp" /> -->

	<!-- 	配置哪些页面需要受保护. 以及访问这些页面需要的权限. 
		1). anon 可以被匿名访问 
		2). authc 必须认证(即登录)后才可能访问的页面. 
		3). logout 登出. 
		4). roles 角色过滤器 -->
		<property name="filterChainDefinitions">
			<value>
				<!-- 说明访问该接口不需要任何权限 -->
				/login/loginap = anon
				/login/logOut = anon
				<!-- 平台首页 -->
				/homepagetongji/queryAll = perms["1"] 			
				/homepagetongji/recoveryStatement = perms["2"] 		
				<!--订单管理  -->
				/order/queryAllUser	= perms["3"]     				
				/order/queryAllUserPeople = perms["4"]	      			
				/order/updateShareOfState = perms["4"]      			
				/order/updateShareOfStateNo	= perms["4"]      			
				/order/queryAllUserPeopleYet = perms["5"]	      			
				/order/queryAllordersByLike = perms["6"]     			
				/order/queryUserAttesta	 = perms["3"]     			
				<!--贷后订单管理  -->
				/postloanor/CollectionNoOrder = perms["7"]     
				/postloanor/UpdateOver = perms["7"]     
				/postloanor/NoCollection = perms["8"]     
				/postloanor/CollectionRecoveryrate = perms["9"]     
				/postloanor/OverdueUser = perms["10"]     
				/postloanor/MyOverdue = perms["11"]     
				/postloanor/YihuanOrders = perms["12"]     
				/postloanor/CollectionOrderSum = perms["13"]     
				/postloanor/HuaiZhangOrders = perms["14"]     
				/sms/DateAllPhone = perms["15"]     
				/sms/AllShortMessage = perms["15"]     
				<!-- 催收预警及管理 -->
				/collection/BeoverdueCollection = perms["16"]
				/collection/BeoverdueYifenp = perms["17"]
				/collection/CollectionLv = perms["18"]
				/collection/CollectionUserLv = perms["19"]
				/collection/FenpeiWeiCollection = perms["20"]
				/collection/YiCollection = perms["21"]
				<!--用户管理  -->
				/user/queryUserList = perms["22"]					
				/user/insertBlacklist = perms["22"]					
				/user/queryAllOrdersByUserid = perms["22"]				
				/user/queryAllOrdersByUserid1 = perms["23"]				
				/user/removeBlacklist = perms["23"]					
				/user/queryUserAttesta = perms["22"]
				/blacklistuser/queryAll = perms["24"]    			
				/blacklistuser/queryAllCompany = perms["24"]    		
				/blacklistuser/insert = perms["24"]    		
				/sms/AllUserShortMessage = perms["66"]
				/sms/AddUserShort = perms["66"]
				<!-- /blacklistuser/selectByPrimaryKey = perms["24"]    		
				/blacklistuser/updateByPrimaryKey = perms["24"]   -->  		
				/blacklistuser/upaFalseDel = perms["24"]    			
				/blacklistuser/importExc = perms["24"]    			
				/whitelistuser/queryAll = perms["25"]					
				/whitelistuser/queryAllCompany = perms["25"]				
				/whitelistuser/insert = perms["25"]					
				/whitelistuser/selectByPrimaryKey = perms["25"]			
				/whitelistuser/updateByPrimaryKey = perms["25"]			
				/whitelistuser/upaFalseDel = perms["25"]	
				/whitelistuser/importExc = perms["25"]				
				<!-- 财务管理 -->
				/fina/Allpayment_record = perms["26"]
				/fina/HuanKuan = perms["27"]
				/fina/DelayStatistics = perms["28"]
				/fina/OrderAcount = perms["29"]
				/fina/SelectOrderAccount = perms["30"]
				/fina/SelectNoMoney = perms["31"]
				/fina/SelectOkMoney = perms["32"]
				/fina/OrderAcount = perms["33"]
				/fina/Delaylabor = perms["34"]
				/fina/OrderAcount = perms["35"]
				/fina/Orderoffline = perms["36"]
				/fina/OrderAcount = perms["37"]
				/fina/AllXiaOrder = perms["38"]
				/Chanpay/SelectBankName = perms["39"]
				/Chanpay/BankdeduDta = perms["40"]
				/fina/financialoverview = perms["41"]
				/fina/queryall = perms["42"]
				/fina/pricetongji = perms["42"]
				<!-- 渠道管理-->
				/sourcetongji/queryByToday = perms["43"]			
				/sourcetongji/queryByTimeslot = perms["43"]			
				/sourcetongji/queryAllPageDetail = perms["43"]		
				/source/queryAll = perms["44"]			
				/source/queryAllCompany	= perms["44"]		
				/source/insert = perms["44"]				
				/source/selectByPrimaryKey = perms["44"]		
				/source/updateByPrimaryKey = perms["44"]		
				/source/updateFalDel = perms["44"]	
				<!--运营数据  -->		
				/operation/platformsNum = perms["45"]
				/operation/HuanKuandata = perms["46"]
			    /operation/CollectionData = perms["47"]
				<!--App管理设置  -->
				/homepage/queryAll = perms["48"]      	
				/homepage/queryAllCompany = perms["48"]      
				/homepage/insert = perms["48"]	      	
				/homepage/selectByPrimaryKey = perms["48"]      	
				/homepage/updateByPrimaryKey = perms["48"]      	
				/homepage/updateFalDel = perms["48"]   
				/homepage/upasort = perms["48"]      	
				/editagreement/queryAll = perms["49"]					
				/editagreement/selectByPrimaryKey = perms["49"]			
				/editagreement/updateByPrimaryKeyWithBLOBs = perms["49"]		
				/contact/queryAll = perms["50"]         		 
				/contact/updateByPrimaryKey = perms["50"]              
				/aboutus/queryAll = perms["50"]   
				/aboutus//updateByPrimaryKey = perms["50"] 
				<!--后台系统设置  -->
				/borrowmonmes/queryAll = perms["51"]                     	     
				/borrowmonmes/updateByPrimaryKey = perms["51"]                     
				/deferredset/queryAll = perms["52"]       		 	
				/deferredset/updateByPrimaryKey = perms["52"]      		 
				/overdueset/queryAll = perms["54"]					
				/overdueset/queryAllBorrow = perms["54"]				
				/overdueset/insert = perms["54"]					
				/overdueset/selectByPrimaryKey = perms["54"]				
				/overdueset/updateByPrimaryKey = perms["54"]				
				/overdueset/upaFalseDel	= perms["54"]					
				/liftingamount/queryAll = perms["55"]             	  
				/liftingamount/queryAllBorrow = perms["55"]             
				/liftingamount/insert = perms["55"]             	  
				/liftingamount/selectByPrimaryKey = perms["55"]        
				/liftingamount/updateByPrimaryKey = perms["55"]         
				/liftingamount/upaFalseDel = perms["55"]                
				/retrialwincon/queryAll = perms["56"]							
				/retrialwincon/updateByPrimaryKey = perms["56"]					
				/applycondition/queryAll = perms["57"]     
				/applycondition/updateByPrimaryKey = perms["57"]  
				/autheninfor/queryAll = perms["58"]          		 
				/autheninfor/updateByPrimaryKey = perms["58"] 
				/thirdpartyint/queryAll = perms["59"]						
				/thirdpartyint/queryAllCompany = perms["59"]	
				/thirdpartyint/insert = perms["59"]	
				/thirdpartyint/selectByPrimaryKey = perms["59"]	
				/thirdpartyint/updateByPrimaryKey = perms["59"]		
				/manconsettings/queryAll = perms["60"]			
				/manconsettings/queryAllCompany = perms["60"]			
				/manconsettings/insert = perms["60"]				
				/manconsettings/selectByPrimaryKey = perms["60"]		
				/manconsettings/updateByPrimaryKey = perms["60"]		
				/overclass/queryAll = perms["61"]                  		
				/overclass/queryAllCompany = perms["61"]                  	
				/overclass/insert = perms["61"]                  		
				/overclass/selectByPrimaryKey = perms["61"]                   
				/overclass/updateByPrimaryKey = perms["61"]                   
				/overclass/update = perms["61"]                   		
				/overclass/upaFalseDel = perms["61"]                  	
				/role/queryAll = perms["62"]     							
				/role/queryAllByLike = perms["62"]     						
				/role/queryAllFunctions = perms["62"]     						
				/role/insert = perms["62"]    							
				/role/queryFunctionsByRoleid = perms["62"]     					
				/role/editByRoleid = perms["62"]    							
				/role/updateByPrimaryKey = perms["62"] 	
				/role/updateStatus = perms["62"] 	
				/role/upaFalseDel = perms["62"] 	
				/sysuser/queryAll = perms["63"]					
				/sysuser/queryAllByLike = perms["63"]					
				/sysuser/queryAllCompany = perms["63"]				
				/sysuser/insert = perms["63"]						
				/sysuser/updateStatus = perms["63"]					
				/sysuser/selectByPrimaryKey = perms["63"]				
				/sysuser/updateByPrimaryKey = perms["63"]	
				/sysuser/upaFalseDel = perms["63"]				
				/usthresholdvalue/usersourcemax = perms["64"]				
				/usthresholdvalue/upamaxthresholdvalue = perms["64"]			
				/loanthresholdvalue/loanmax = perms["64"]           		    		
				/loanthresholdvalue/upamaxthresholdvalue = perms["64"]            		
				/loanthresholdvalue/queryloantoday = perms["65"]           		   
				/loanthresholdvalue/upaloanstatus = perms["65"]    
				/bankauto/queryAll = perms["68"]  
				/bankauto/queryAllCompany = perms["68"]      
				/bankauto/insert = perms["68"]      
				/bankauto/selectByPrimaryKey = perms["68"]      
				/bankauto/updateByPrimaryKey = perms["68"]  
				/bankauto/upaFaldel = perms["68"]            	  	        	
			</value>
		</property>
	</bean>
	
</beans>
