<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">
    
    
    

	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	    <!-- 验证 -->        
     <!--    <property name="authenticator" ref="myModularRealmAuthenticator"/> -->
        	<property name="realm" ref="realmUser" />
		   <!-- 多个验证策略 realmes -->
		  <!--  <property name="realms">
            <list>
                <ref bean="realmUser"/>
                <ref bean="realmPhone"/>
            </list>
        </property> -->
	</bean>
	
	<!-- Realm -->
	<bean id="realmUser" class="com.zhita.controller.shiro.UserRealm">
		<!-- <property name="credentialsMatcher" ref="credentialsMatcher"/> -->
	</bean>
	<!-- <bean id="realmPhone" class="com.zhita.controller.shiro.PhoneRealm">
		<property name="credentialsMatcher" ref="credentialsMatcher"/>
	</bean> -->
	
	<!-- 加密 -->
	<!-- <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher"> 
		加密方式 <property name="hashAlgorithmName" value="MD5"/> 加密次数 <property name="hashIterations" 
		value="1024"/> </bean> -->

	<!-- Shiro的Web过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		
		<!-- 在此处配置未登录跳转页面 -->
		<property name="loginUrl" value="/login.jsp" />

		<!-- 在此处配置无权限的跳转路径 -->
	<!-- 	<property name="unauthorizedUrl" value="/error.jsp" /> -->

	<!-- 	配置哪些页面需要受保护. 以及访问这些页面需要的权限. 
		1). anon 可以被匿名访问 
		2). authc 必须认证(即登录)后才可能访问的页面. 
		3). logout 登出. 
		4). roles 角色过滤器 -->
<!-- 		<property name="filterChainDefinitions">
			<value>
				说明访问该接口不需要任何权限
				/login/sendSMS = anon
				/login/loginap = anon
				/login/loginpc = anon
				贷款分类权限拦截
				/role/queryAll = perms["1"]
				/role/queryAllByLike = perms["1"]
			</value>
		</property> -->
	</bean>
	
</beans>
