<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.AuthenticationInformationMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.AuthenticationInformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyId" property="companyid" jdbcType="INTEGER" />
    <result column="authenticationName" property="authenticationname" jdbcType="VARCHAR" />
    <result column="ifAuthentication" property="ifauthentication" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, companyId, authenticationName, icon,ifAuthentication, deleted
  </sql>
  <!-- 后台管理             根据主键id查询出当前对象信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from authentication_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from authentication_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 后台管理   添加功能 -->
  <insert id="insert" parameterType="com.zhita.model.manage.AuthenticationInformation" >
    insert into authentication_information (companyId, authenticationName,icon,
      ifAuthentication)
    values (#{companyid,jdbcType=INTEGER}, #{authenticationname,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},
      #{ifauthentication,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.AuthenticationInformation" >
    insert into authentication_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyid != null" >
        companyId,
      </if>
      <if test="authenticationname != null" >
        authenticationName,
      </if>
      <if test="ifauthentication != null" >
        ifAuthentication,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="authenticationname != null" >
        #{authenticationname,jdbcType=VARCHAR},
      </if>
      <if test="ifauthentication != null" >
        #{ifauthentication,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.AuthenticationInformation" >
    update authentication_information
    <set >
      <if test="companyid != null" >
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="authenticationname != null" >
        authenticationName = #{authenticationname,jdbcType=VARCHAR},
      </if>
      <if test="ifauthentication != null" >
        ifAuthentication = #{ifauthentication,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理       更新保存功能 -->
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.AuthenticationInformation" >
    update authentication_information
    set ifAuthentication = #{arg1}
    where id = #{arg0}
  </update>
  <!-- 后台管理        查询认证信息表所有信息 -->
  <select id="queryAll" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.AuthenticationInformation">
  	select 
    <include refid="Base_Column_List" />
    from authentication_information
    where companyId=#{arg0}
  </select>
  <!-- 后台管理        根据id查询图标字段 -->
  <select id="queryIcon" parameterType="java.lang.Integer" resultType="java.lang.String">
  	select icon from authentication_information where id=#{arg0}
  </select>
  
  
    <select id="getCertificationCenter" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.AuthenticationInformation">
  	select id,icon,authenticationName,ifAuthentication from authentication_information where companyId=#{companyId} and deleted =0;
  </select>
  
</mapper>