<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.BlacklistUserMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.BlacklistUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyId" property="companyid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    b.id, b.companyId, b.name,b.phone, b.idcard, b.userId,su.account,b.operationtime,b.deleted
  </sql>
  <!-- 后台管理       根据id查询当前对象信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blacklist_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blacklist_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 后台管理    添加操作 -->
  <insert id="insert" parameterType="com.zhita.model.manage.BlacklistUser" >
    insert into blacklist_user (companyId, name, 
      phone, idcard, userId,operator,operationtime)
    values (#{companyid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{operator,jdbcType=VARCHAR},#{operationtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.BlacklistUser" >
    insert into blacklist_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyid != null" >
        companyId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.BlacklistUser" >
    update blacklist_user
    <set >
      <if test="companyid != null" >
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理       更新保存功能 -->
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.BlacklistUser" >
    update blacklist_user
    set companyId = #{companyid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operationtime = #{operationtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 后台管理        查询列表 -->
  <select id="queryAll" resultType="com.zhita.model.manage.BlacklistUser">
  	select 
    <include refid="Base_Column_List" />
    from blacklist_user b inner join sys_user su on b.operator=su.userId
    where b.companyId=#{companyId} and b.deleted=0
    	<if test="name != null and name!='' ">
          and b.name like "%"#{name}"%"
        </if>
        <if test="phone != null and phone!='' ">
           and b.phone like "%"#{phone}"%"
        </if>
        <if test="idcard != null and idcard!='' ">
           and b.idcard like "%"#{idcard}"%"
        </if>
  </select>
  <!-- 后台管理       更新假删除状态 -->
  <update id="upaFalseDel" parameterType="java.lang.Integer">
  	update blacklist_user set deleted=1 where id=#{arg0}
  </update>
  
   <!-- 批量导入 -->
   <insert id="insertInfoBatch" parameterType="java.util.List">
      insert into blacklist_user (companyId, name, phone, idcard, operator,operationtime)
      values
      <foreach collection="list" item="item" index="index" separator=",">
          (#{companyid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
          #{idcard,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{operationtime,jdbcType=VARCHAR}
      </foreach>
    </insert>
    <!--批量插入，通过手机号查询数据库表中是否有该白名单用户  -->
    <select id="queryByPhone"  parameterType="java.lang.String" resultType="com.zhita.model.manage.BlacklistUser">
    select 
    <include refid="Base_Column_List" />
    from blacklist_user
    where phone=#{arg0}
  </select>
    <!-- 批量插入，通过手机号更新信息 -->
  <update id="updateByPhone" parameterType="com.zhita.model.manage.BlacklistUser" >
    update blacklist_user
    set companyId = #{companyid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operationtime = #{operationtime,jdbcType=VARCHAR},
      deleted=0
    where phone = #{phone,jdbcType=INTEGER}
  </update>
  
    <select id="getid" parameterType="java.util.Map" resultType="java.lang.Integer">
select count(id) from blacklist_user where phone = #{phone} and companyId = #{companyId}
  </select>
  
      <select id="getid1" parameterType="java.util.Map" resultType="java.lang.Integer">
select count(id) from blacklist_user where idcard = #{idCard} and companyId = #{companyId}
  </select>
  
  
</mapper>