<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.CollectionMapper">
	
		<select id="OrderIdMa" resultType="java.lang.Integer" parameterType="java.util.List">
			select orderId from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			group by orderId
		</select> 
		
		
		<select id="SelectTotalCount" parameterType="com.zhita.model.manage.Collection" resultType="java.lang.Integer">
			select count(*) from orders where id not in
			<foreach collection="ids" item="nos" index="no" open="(" separator="," close=")">
		 		  #{nos}
		 	</foreach>
		 	AND companyId = #{companyId}
		</select>
		
		
		<select id="Allorderdetails" parameterType="com.zhita.model.manage.Collection" resultType="com.zhita.model.manage.Orderdetails">
			select o.orderNumber,u.name,u.phone,o.borrowMoneyWay,o.borrowTimeLimit,o.shouldReturnTime,ord.overdueNumberOfDays,ord.interestPenaltySum,
			o.orderCreateTime,ord.realityBorrowMoney,ord.makeLoans,ord.realityAccount
			 from orders o,orderdetails ord,user u
			<where>
				AND ord.orderId not in
				<foreach collection="ids" item="nos" index="no" open="(" separator="," close=")">
		 		 	 #{nos}
		 		</foreach>
			    AND o.realtime &lt; #{realtime}
				AND o.id = ord.orderId
				AND u.id = o.userId
				AND o.companyId = #{companyId}
				<if test="name != '' and name != null">
					AND u.name = #{name}
				</if>
				<if test="phone != null and phone != ''">
					AND u.phone = #{phone}
				</if>
				<if test="id != null and id != ''">
					AND o.id = #{id}
				</if>
			</where>
			group by ord.orderId 
			limit #{page},#{pagesize}
		</select>
		
		
		
		<select id="DefeSet" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Deferred">
			select defe.deferBeforeReturntime,defe.interestOnArrears,deset.onceDeferredDay,defe.deferAfterReturntime from 
			deferred defe,deferred_settings deset,orders o where o.companyId = deset.companyId and o.id = defe.orderid
			and o.id = #{orderId}
		</select>
		
		
		<select id="CollMen" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select colme.reallyName,col.collectionTime,col.collectionStatus from collection col,collection_member colme,orders o
			where o.id = col.orderId and col.collectionMemberId = colme.collectionMemberId and o.id =#{orderId}
		</select>
		
		
		<select id="CollectionAll" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Collection_member">
			select * from collection_member where companyId = #{companyId}
		</select>
		
		
		
		<insert id="addCollection" parameterType="java.util.List">
			insert into `collection` (collectionMemberId,orderId,collectionStatus,collectionTime,deleted) values  
	        <foreach collection="list" item="item" index="index" separator=",">  
	            (#{item.collectionMemberId},#{item.orderId},#{item.collectionStatus},#{item.collectionTime},#{item.deleted})  
	        </foreach>
		</insert>
		
		
		
		<select id="SelectOrdersdetails" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select o.orderNumber,u.name,u.phone,o.borrowMoneyWay,o.borrowTimeLimit,o.shouldReturnTime,ord.overdueNumberOfDays,ord.interestPenaltySum,
			o.orderCreateTime,ord.realityBorrowMoney,ord.makeLoans,ord.realityAccount,colme.reallyName,o.overdueGrade,ord.surplus_money,
			col.collectionTime,col.collectionStatus,o.orderStatus from orders o,orderdetails ord,collection col,collection_member colme,user u
			<where>
				AND o.id = ord.orderId
				AND u.id = o.userId
				AND colme.collectionMemberId = col.collectionMemberId
				AND o.id = col.orderId
				AND o.companyId = #{companyId}
				<if test="realityBorrowMoney != null and realityBorrowMoney != ''">
					AND ord.realityBorrowMoney = #{realityBorrowMoney}
				</if>
				<if test="makeLoans != null and makeLoans != ''">
					AND ord.makeLoans = #{makeLoans}
				</if>
				<if test="shouldAlsoInterest != null and shouldAlsoInterest != ''">
					AND ord.shouldAlsoInterest = #{shouldAlsoInterest}
				</if>
				<if test="shouldReapyMoney != null and shouldReapyMoney != ''">
					AND ord.shouldReapyMoney = #{shouldReapyMoney}
				</if>
				<if test="orderId != null and orderId != ''">
					AND o.id = #{orderId}
				</if>
				<if test="name != '' and name != null">
					AND u.name LIKE concat('%',#{name},'%')
				</if>
				<if test="phone != null and phone != ''">
					AND u.phone LIKE concat('%',#{phone},'%')
				</if>
				<if test="grade != null and grade != ''">
					AND overdue.grade = #{grade}
				</if>
				<if test="collectionStatus != null and collectionStatus != ''">
					AND c.collectionStatus = #{collectionStatus}
				</if>
				<if test="collectionMemberId != null and collectionMemberId != ''">
					AND cmem.collectionMemberId = #{collectionMemberId}
				</if>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND c.collectionTime between #{start_time} and #{end_time}
				</if>
			</where>
			group by o.id
			limit #{page},#{pagesize}
		</select>
		
		
		
		<select id="OneOrdersdetails" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select o.borrowTimeLimit,orders.*,u.name,u.phone,c.collectionStatus,cmem.reallyName,overdue.grade,
			c.collectionTime,o.orderNumber,o.id,o.borrowMoneyWay,defe.deferBeforeReturntime,defe.deferAfterReturntime 
			from 
			collection c,collection_member cmem,orderdetails orders,overdue_class overdue,orders o,user u,deferred defe
			<where>
				AND u.id = o.userId
				AND o.id = orders.orderId
				AND u.companyId = overdue.overdue
				AND o.id = defe.orderId
				AND collection.collectionMemberId = cmem.collectionMemberId
				AND cmem.companyId = u.companyId
				AND o.orderNumber = #{orderNumber}
				AND o.companyId = #{companyId}
			</where>	
				order by orders.id desc
				limit #{page},#{pagesize}	
		</select>
		
		
		
		<select id="SelectSumOrderNum" resultType="com.zhita.model.manage.Collection" parameterType="com.zhita.model.manage.Collection">
			select  o.orderCreateTime  from orders o
				<where>
					AND o.companyId = #{companyId} 
					<if test="borrowMoneyType != null and borrowMoneyType != ''">
						AND o.borrowMoneyType = #{borrowMoneyType}
					</if>
					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and#{end_time}
					</if>
				</where>
				GROUP BY o.orderCreateTime
		</select>
		
		
 	
		<select id="SelectSumOrder" resultType="com.zhita.model.manage.Collection" parameterType="com.zhita.model.manage.Collection">
			select  o.orderCreateTime,count(o.id) as collection_count from orders o
				<where>
					AND o.companyId = #{companyId} 
					<if test="borrowMoneyType != null and borrowMoneyType != ''">
						AND o.borrowMoneyType = #{borrowMoneyType}
					</if>
					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
					</if>
				</where>
				GROUP BY o.orderCreateTime
				limit #{page},#{pagesize}
		</select>
		
		
		
		
		<select id="SelectReallyName" parameterType="com.zhita.model.manage.Collection" resultType="com.zhita.model.manage.Collection">
			select colme.reallyName,c.collectionTime,count(c.collectionTime) as collection_count from 
			collection c,collection_member colme
			<where>
				AND c.collectionMemberId = colme.collectionMemberId 
				<if test="start_time != null and statu_time != '' and end_time != null and end_time != ''">
					AND collectionTime between #{statu_time} and#{end_time}
				</if>
			</where>
			GROUP BY c.collectionMemberId
			limit #{page},#{pagesize}
		</select>
		
		
		
		<select id="OrderOknum" parameterType="java.lang.String" resultType="java.lang.Integer">
			select count(*) from collection where collectionTime = #{collectionTime}
		</select>
		
		
		<select id="OrderChengnuo" parameterType="com.zhita.model.manage.Collection" resultType="java.lang.Integer">
			select count(*) from collection where collectionTime = #{collectionTime} and collectionStatus = #{collectionStatus}
		</select>
		
		
		
		<select id="SelectUserNum" resultType="com.zhita.model.manage.Collection" parameterType="com.zhita.model.manage.Collection">
			SELECT collectionTime from collection
				<where>
					<if test="collectionMemberId != null and collectionMemberId != ''">
						AND collectionMemberId = #{collectionMemberId}
					</if>
					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND collectionTime between #{start_time} and #{end_time}
					</if>
				</where>
		</select>
		
		
		<select id="Collectionmemberdetilas" resultType="com.zhita.model.manage.Collection" parameterType="com.zhita.model.manage.Collection">
			SELECT cmember.reallyName,count(c.collectionId) as collection_count,c.collectionTime FROM 
			collection c,collection_member cmember
		 	<where>
		 		AND c.collectionMemberId=cmember.collectionMemberId
				<if test="collectionMemberId != null and collectionMemberId != ''">
					AND c.collectionMemberId = #{collectionMemberId}
				</if>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND c.collectionTime between #{start_time} and #{end_time}
				</if>
			</where>
		 	GROUP BY c.collectionTime
		 	limit #{page},#{pagesize}
		</select>
		
		
		<select id="CollectionNum" parameterType="com.zhita.model.manage.Collection" resultType="java.lang.Integer">
			select count(*) from collection where collectionMemberId = #{collectionMemberId} and collectionStatus = #{collectionStatus}
		</select>
		
		
		<select id="FenpeiCollection" parameterType="com.zhita.model.manage.Collection" resultType="com.zhita.model.manage.Orderdetails">
			select o.orderNumber,u.name,u.phone,o.borrowMoneyWay,o.borrowTimeLimit,o.shouldReturnTime,ord.overdueNumberOfDays,ord.interestPenaltySum,
			o.orderCreateTime,ord.realityBorrowMoney,ord.makeLoans,ord.realityAccount,colme.reallyName,o.overdueGrade,ord.surplus_money,col.collectionTime,
			col.promise_money,
			col.collectionTime,col.collectionStatus,o.orderStatus,defe.deferBeforeReturntime,defe.deferAfterReturntime  
			 from orders o,orderdetails ord,collection col,collection_member colme,user u,deferred defe
			<where>
				AND defe.orderId = o.id
				AND o.id = ord.orderId
				AND u.id = o.userId
				AND col.orderId = o.id
				AND col.collectionMemberId = colme.collectionMemberId
				
				<if test="name != null and name != ''">
					AND u.name = #{name}
				</if>
				<if test="phone != null and phone != ''">
					AND u.phone = #{phone}
				</if>
				<if test="orderNumber != null and orderNumber != ''">
					AND o.orderNumber = #{orderNumber}
				</if>
				<if test="collectionMemberId != null and collectionMemberId != ''">
					AND col.collectionMemberId = #{collectionMemberId}
				</if>
				AND o.companyId = #{companyId} 
				AND o.id in 
				<foreach collection="ids" item="orderid" open="(" separator="," close=")">
					#{orderid}
				</foreach>
			</where>
				group by o.id
				limit #{page},#{pagesize}
		</select>
		
		
		<select id="CollectionTotalcount" parameterType="com.zhita.model.manage.Collection" resultType="java.lang.Integer">
			select count(o.id) from collection c,collection_member cmem,orderdetails orders,overdue_class overdue,orders o,user u 
			<where>
				AND o.id = orders.orderId
				AND u.id = o.userId
				AND c.orderId = o.id
				AND c.collectionMemberId = cmem.collectionMemberId
				<if test="name != null and name != ''">
					AND u.name = #{name}
				</if>
				<if test="phone != null and phone != ''">
					AND u.phone = #{phone}
				</if>
				<if test="orderNumber != null and orderNumber != ''">
					AND o.orderNumber = #{orderNumber}
				</if>
				AND o.companyId = #{companyId} 
				AND o.id in 
				<foreach collection="ids" item="orderid" open="(" separator="," close=")">
					#{orderid}
				</foreach>
			</where>
		</select>
		
		
		<select id="CollectionWeiTotalcount" parameterType="com.zhita.model.manage.Collection" resultType="java.lang.Integer">
			select count(o.id) from collection 
			c,collection_member cmem,orderdetails orders,orders o,user u
			<where>
				AND o.id = orders.orderId
				AND u.id = o.userId
				AND c.orderId = o.id
				AND c.collectionMemberId = cmem.collectionMemberId
				AND o.companyId = #{companyId} 
				<if test="name != null and name != ''">
					AND u.name = #{name}
				</if>
				<if test="phone != null and phone != ''">
					AND u.phone = #{phone}
				</if>
				<if test="orderNumber != null and orderNumber != ''">
					AND o.orderNumber = #{orderNumber}
				</if>
				AND o.id not in 
				<foreach collection="ids" item="orderid" open="(" separator="," close=")">
					#{orderid}
				</foreach>
			</where>
		</select>
		
		
		
		<select id="SelectCollectionId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
			select collectionMemberId from collection_member where companyId = #{companyId}
		</select>
		
		
		<select id="SelectCollectionMemberIds" parameterType="java.util.List" resultType="java.lang.Integer">
			select orderId from collection where collectionMemberId in 
			<foreach collection="ids" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
			group by orderId
		</select>
		
		
		<select id="SelectId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
			select collection_id from collectiondetails where orderId = #{id}
			group by orderId
		</select>
				
				
		<select id="WeiControllerOrdetialis" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select ord.orderId,o.orderNumber,u.name,u.phone,o.borrowMoneyWay,o.borrowTimeLimit,o.shouldReturnTime,ord.overdueNumberOfDays,ord.interestPenaltySum,
			o.orderCreateTime,ord.realityBorrowMoney,ord.makeLoans,ord.realityAccount,colme.reallyName,o.overdueGrade,ord.surplus_money,col.collectionTime,
			col.promise_money,col.promise_money,
			col.collectionTime,col.collectionStatus,o.orderStatus,defe.deferBeforeReturntime,defe.deferAfterReturntime  
			 from orders o,orderdetails ord,collection col,collection_member colme,user u,deferred defe,deferred_settings deset
			<where>
				AND col.collectionMemberId = colme.collectionMemberId
				AND o.id = ord.orderId
				AND u.id = o.userId
				AND o.id = col.orderId
				AND deset.companyId = o.companyId
				AND o.id = defe.orderId
				<if test="name != null and name != ''">
					AND u.name = #{name}
				</if>
				<if test="phone != null and phone != ''">
					AND u.phone = #{phone}
				</if>
				<if test="orderNumber != null and orderNumber != ''">
					AND o.orderNumber = #{orderNumber}
				</if>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				<if test="realtime != null and realtime != ''">
					AND ord.realtime = #{realtime}
				</if>
				<if test="describe != null and describe != ''">
					AND ord.overdueNumberOfDays = #{describe}
				</if>
				AND o.companyId = #{companyId} 
				AND o.id not in 
				<foreach collection="ids" item="orderid" open="(" separator="," close=")">
					#{orderid}
				</foreach>
			</where>
			group by o.id
			limit #{page},#{pagesize}
		</select>
		
		
		
		<select id="CollNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
			select count(collectionId) from collection where orderId = #{orderId}
		</select>
		
		
		<insert id="AddCollectiondetails" parameterType="com.zhita.model.manage.Collectiondetails">
			INSERT INTO `Collectiondetails` (
				collection_time,
				user_type,
				collectionmoney,
				orderId,
				collectionMemberId
			)VALUES
			(#{collection_time},#{user_type},#{collectionmoney},#{orderId},#{collectionMemberId})
		</insert>
		
		
		
		
		<select id="SelectUserCollection" parameterType="com.zhita.model.manage.Collection" resultType="com.zhita.model.manage.Collection">
			cmember.reallyName,count(c.collectionTime) as collection_count,DATE_FORMAT(c.collectionTime,'%Y-%m-%d') as collectionTime
		</select>
		
		
		
		<select id="Coldetails" parameterType="com.zhita.model.manage.Collectiondetails" resultType="com.zhita.model.manage.Collectiondetails">
			select o.orderStatus,co.* from orders o,collectiondetails co
			where o.id = co.orderId and o.id = #{orderId}
		</select>
		
		
		
		<select id="SelectOrderNum" parameterType="com.zhita.model.manage.Collectiondetails" resultType="java.lang.Integer">
			select count(*) from orders where orderCreateTime = #{collection_time} and companyId = #{companyId}
		</select>
		
		
		
		<select id="SelectCollectionNum" parameterType="com.zhita.model.manage.Collectiondetails" resultType="java.lang.Integer">
			select count(*) from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			AND collectionTime = #{collectionTime}
		</select>
		
		
		<select id="SelectcollectionStatus" parameterType="com.zhita.model.manage.Collectiondetails" resultType="java.lang.Integer">
			select count(*) from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			AND collectionTime = #{collectionTime}
			AND collectionStatus = #{collectionStatus}
		</select>
		
		
			<select id="SelectUserCollectionNum" parameterType="com.zhita.model.manage.Collectiondetails" resultType="java.lang.Integer">
			select count(orderId) from collection where collectionMemberId = #{collectionMemberId}
			AND collectionTime = #{collectionTime} group by orderId
		</select>
		
		
		<select id="SelectUsercollectionStatus" parameterType="com.zhita.model.manage.Collectiondetails" resultType="java.lang.Integer">
			select count(*) from collection where  collectionMemberId = #{collectionMemberId}
			AND collectionTime = #{collectionTime}
			AND collectionStatus = #{collectionStatus}
		</select>
		
		
		
		
		<select id="DefNum" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Deferred">
			select count(id) as id,sum(interestOnArrears) as interestOnArrears from deferred where orderId = #{orderId}
		</select>
		
		
		
		
</mapper>