<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.FeedbackMapper">

  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Feedback">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="advice" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, advice, url1, url2, url3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from feedback
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from feedback
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Feedback">
    insert into feedback (id, userId, advice, 
      url1, url2, url3)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{advice,jdbcType=VARCHAR}, 
      #{url1,jdbcType=VARCHAR}, #{url2,jdbcType=VARCHAR}, #{url3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Feedback">
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="advice != null">
        advice,
      </if>
      <if test="url1 != null">
        url1,
      </if>
      <if test="url2 != null">
        url2,
      </if>
      <if test="url3 != null">
        url3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="advice != null">
        #{advice,jdbcType=VARCHAR},
      </if>
      <if test="url1 != null">
        #{url1,jdbcType=VARCHAR},
      </if>
      <if test="url2 != null">
        #{url2,jdbcType=VARCHAR},
      </if>
      <if test="url3 != null">
        #{url3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Feedback">
    update feedback
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="advice != null">
        advice = #{advice,jdbcType=VARCHAR},
      </if>
      <if test="url1 != null">
        url1 = #{url1,jdbcType=VARCHAR},
      </if>
      <if test="url2 != null">
        url2 = #{url2,jdbcType=VARCHAR},
      </if>
      <if test="url3 != null">
        url3 = #{url3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Feedback">
    update feedback
    set userId = #{userid,jdbcType=INTEGER},
      advice = #{advice,jdbcType=VARCHAR},
      url1 = #{url1,jdbcType=VARCHAR},
      url2 = #{url2,jdbcType=VARCHAR},
      url3 = #{url3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  

	<insert id="setfeedback" parameterType="java.util.Map">
		insert into feedback (userId,advice,url1,url2,url3,time)
		values (#{userId},
		#{advice},
		#{url1},
		#{url2},
		#{url3},
		#{time})
	</insert>
	<!-- 后台管理   查询数量 -->
  <select id="queryAllcount" resultType="java.lang.Integer">
  	select count(*) from user u inner join feedback f on u.id=f.userid
  </select>
  <!-- 后台管理   查询功能 -->
  <select id="queryAll" resultType="com.zhita.model.manage.Feedback">
  	select u.name,u.phone,f.time,f.advice,f.url1,f.url2,f.url3 from user u inner join feedback f on u.id=f.userid limit #{arg0},#{arg1}
  </select>
</mapper>