<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.HomepageTongjiMapper" >
<!-- ==============今日数据================== -->

	<!-- 后台管理        今日注册人数 -->
	<select id="queryToDayRegiste" resultType="java.lang.Integer">
		select count(id) from user where companyId=#{arg0} and  registeTime>=#{arg1} and registeTime &lt;#{arg2}
	</select>
	<!-- 后台管理        今日申请人数 -->
	<select id="queryToDayApply" resultType="java.lang.Integer">
		select count(id) from user where companyId=#{arg0} and applytime>=#{arg1} and applytime &lt;#{arg2}
	</select>
	<!-- 后台管理       今日放款人数 -->
	<select id="queryToDayLoan" resultType="java.lang.Integer">
		select count(pr.id) from payment_record pr inner join orders o on pr.orderid=o.id where o.companyId=#{arg0} and pr.remittanceTime>=#{arg1} and pr.remittanceTime &lt;#{arg2}
	</select>
	<!-- 后台管理      今日延期笔数   线上延期 -->
	<select id="queryToDayDeferred" resultType="java.lang.Integer">
		select count(df.id) from deferred df inner join orders o on df.orderid=o.id where o.companyId=#{arg0} and df.deferredTime>=#{arg1} and df.deferredTime &lt;#{arg2} and df.deleted=0
	</select>
	<!-- 后台管理      今日延期笔数   人工延期 -->
	<select id="queryToDayDeferredlay" resultType="java.lang.Integer">
		select count(lay.id) from offlinedelay lay inner join orders o on lay.orderid=o.id where o.companyId=#{arg0} and lay.operating_time>=#{arg1} and lay.operating_time &lt;#{arg2}
	</select>
	<!-- 后台管理       今日回款笔数  （实还笔数）-->
	<select id="queryToDayRepayment" resultType="java.lang.Integer">
		select count(rp.id) from repayment rp inner join orders o on rp.orderid=o.id where o.companyId=#{arg0} and rp.statu="成功" and rp.repaymentDate>=#{arg1} and rp.repaymentDate &lt;#{arg2}
	</select>
	<!-- 后台管理       今日回款笔数  （线上回款）-->
	<select id="queryToDayRepaymentacc" resultType="java.lang.Integer">
		select count(acc.id) from accountadjustment acc inner join orders o on acc.orderid=o.id where o.companyId=#{arg0} and acc.amou_time>=#{arg1} and acc.amou_time &lt;#{arg2}
	</select>
	<!-- 后台管理       今日回款笔数  （线下回款）-->
	<select id="queryToDayRepaymentoff" resultType="java.lang.Integer">
		select count(off.id) from offlinjianmian off inner join orders o on off.orderid=o.id where o.companyId=#{arg0} and off.sedn_time>=#{arg1} and off.sedn_time &lt;#{arg2}
	</select>
	<!-- 后台管理       今日回款笔数  （银行卡回款）-->
	<select id="queryToDayRepaymentbank" resultType="java.lang.Integer">
		select count(DISTINCT b.orderid) from bankdeductions b inner join orders o on b.orderid=o.id 
		where o.companyId=#{arg0} and b.deduction_time>=#{arg1} and b.deduction_time &lt;#{arg2} and o.orderStatus=3
	</select>
	<!-- 后台管理      今日逾后已还笔数      还款表-->
	<select id="queryToDayOverdue" resultType="com.zhita.model.manage.Orders">
		select o.id,o.companyId,o.orderNumber,o.orderCreateTime,o.shouldReturnTime,rp.repaymentDate realtime from repayment rp inner join orders o on rp.orderid=o.id where o.companyId=#{arg0} and rp.statu="成功" and rp.repaymentDate>=#{arg1} and rp.repaymentDate &lt;#{arg2}
	</select>
	<!-- 后台管理      今日逾后已还笔数      线下还款表-->
	<select id="queryToDayOverdueoff" resultType="com.zhita.model.manage.Orders">
		select o.id,o.companyId,o.orderNumber,o.orderCreateTime,o.shouldReturnTime,off.sedn_time realtime from offlinjianmian off inner join orders o on off.orderid=o.id where o.companyId=#{arg0} and off.sedn_time>=#{arg1} and off.sedn_time &lt;#{arg2}
	</select>
	<!-- 后台管理      今日逾后已还笔数      银行卡扣表-->
	<select id="queryToDayOverduebank" resultType="com.zhita.model.manage.Orders">
		select o.id,o.companyId,o.orderNumber,o.orderCreateTime,o.shouldReturnTime,b.deduction_time realtime from bankdeductions b inner join orders o on b.orderid=o.id 
		where o.companyId=#{arg0} and b.deduction_time>=#{arg1} and b.deduction_time &lt;#{arg2} and o.orderStatus=3
		order by deduction_time desc limit 1
	</select>
	<!--后台管理        今日放款总金额  -->
	<select id="queryToDayLoanTotalmoney" resultType="java.math.BigDecimal">
		select sum(pr.paymentmoney) from payment_record pr inner join orders o on pr.orderid=o.id where o.companyId=#{arg0} and pr.remittanceTime>=#{arg1} and pr.remittanceTime &lt;#{arg2} 
	</select>
	<!-- 后台管理     今日回款总金额（实还金额） -->
	<select id="queryToDayReturTotalmoney" resultType="java.math.BigDecimal">
		select sum(rp.repaymentMoney) from repayment rp inner join orders o on rp.orderid=o.id where o.companyId=#{arg0} and rp.statu="成功" and rp.repaymentDate>=#{arg1} and rp.repaymentDate &lt;#{arg2}
	</select>
	<!-- 后台管理       今日回款总金额（线上延期费） -->
	<select id="queryToDayDeffer" resultType="java.math.BigDecimal">
		select sum(d.interestOnArrears) from deferred d inner join orders o on d.orderid=o.id where o.companyId=#{arg0} and d.deferredTime>=#{arg1} and d.deferredTime &lt;#{arg2} and d.deleted=0
	</select>
	<!-- 后台管理       今日回款总金额（人工延期费） -->
	<select id="queryToDayDefferlay" resultType="java.math.BigDecimal">
		select sum(lay.extensionfee) from offlinedelay lay inner join orders o on lay.orderid=o.id where o.companyId=#{arg0} and lay.operating_time>=#{arg1} and lay.operating_time &lt;#{arg2}
	</select>
	<!-- 后台管理    今日回款总金额（减免后已还总金额）（线上） -->
	<select id="queryToDayDefferacc" resultType="java.math.BigDecimal">
		select sum(acc.amountmoney) from accountadjustment acc inner join orders o on acc.orderid=o.id where o.companyid=#{arg0} and acc.amou_time>=#{arg1} and acc.amou_time &lt;#{arg2}
	</select>
	<!-- 后台管理    今日回款总金额（减免后已还总金额）（线下） -->
	<select id="queryToDayDefferoff" resultType="java.math.BigDecimal">
		select sum(off.offusermoney) from offlinjianmian off inner join orders o on off.orderid=o.id where o.companyid=#{arg0} and off.sedn_time>=#{arg1} and off.sedn_time &lt;#{arg2}
	</select>
	<!-- 后台管理         今日回款总金额（银行扣款金额） -->
	<select id="queryToDayBank" resultType="java.math.BigDecimal">
		select sum(b.deduction_money) from bankdeductions b inner join orders o on b.orderid=o.id 
		where o.companyid=#{arg0} and b.deduction_time>=#{arg1} and b.deduction_time &lt;#{arg2}
	</select>
	<!--后台管理     今日逾期已还金额     （用户实还金额）-->
	<select id="queryToDayOverueTotalmoney" resultType="java.math.BigDecimal">
		select sum(rp.repaymentMoney) from repayment rp inner join orders o on rp.orderid=o.id where o.companyId=#{companyId} and rp.statu="成功" and rp.repaymentDate>=#{startTime} and rp.repaymentDate &lt;#{endTime} and o.shouldReturnTime &lt;#{startTime}
	</select>
	<!--后台管理     今日逾期已还金额     （线下减免已还）-->
	<select id="queryToDayOverueTotalmoneyoff" resultType="java.math.BigDecimal">
		select sum(off.offusermoney) from offlinjianmian off inner join orders o on off.orderid=o.id where o.companyId=#{companyId} and off.sedn_time>=#{startTime} and off.sedn_time &lt;#{endTime} and o.shouldReturnTime &lt;#{startTime}
	</select>
	<!--后台管理     今日逾期已还金额     （银行卡扣款已还）-->
	<select id="queryToDayOverueTotalmoneybank" resultType="java.math.BigDecimal">
		select sum(b.deduction_money) from bankdeductions b inner join orders o on b.orderid=o.id 
		where o.companyId=#{companyId} and b.deduction_time>=#{startTime} and b.deduction_time &lt;#{endTime} and o.shouldReturnTime &lt;#{startTime}
	</select>
	<!-- ==============累计数据================== -->
	
	<!-- 后台管理       已注册用户总数 -->
	<select id="querySumRegiste" resultType="java.lang.Integer">
		select count(id) from user where companyId=#{arg0}
	</select>
	<!-- 后台管理      用户申请总笔数 -->
	<select id="querySumApply" resultType="java.lang.Integer">
		select count(applynumber) from user where companyId=#{arg0}
	</select>
	<!-- 后台管理      放款总笔数 -->
	<select id="querySumLoan" resultType="java.lang.Integer">
		select count(pr.id) from payment_record pr inner join orders o on pr.orderid=o.id where o.companyId=#{arg0}
	</select>
	<!-- 后台管理     回款总笔数（线上减免已还清笔数） -->
	<select id="querySumRepaymentacc" resultType="java.lang.Integer">
		select count(acc.id) from  accountadjustment acc inner join orders o on acc.orderid=o.id where o.companyId=#{arg0} 
	</select>
	
	<!-- 后台管理      回款总笔数（线下减免已还清 笔数）-->
	<select id="querySumRepaymentoff" resultType="java.lang.Integer">
		select count(off.id) from  offlinjianmian off inner join orders o on off.orderid=o.id where o.companyId=#{arg0} 
	</select>
	
	<!-- 后台管理     回款总笔数（ 银行卡已还清笔数） -->
	<select id="querySumRepaymentbank" resultType="java.lang.Integer">
		select count(DISTINCT b.orderid) from  bankdeductions b inner join orders o on b.orderid=o.id where o.companyId=#{arg0} and o.orderStatus=3
	</select>
	
	<!-- 后台管理     回款总笔数  （实还笔数）-->
	<select id="querySumRepayment" resultType="java.lang.Integer">
		select count(rp.id) from  repayment rp inner join orders o on rp.orderid=o.id where o.companyId=#{arg0} and rp.statu="成功"
	</select>
	<!--后台管理        累计放款总金额  -->
	<select id="querypayrecMoney" resultType="java.math.BigDecimal">
		select sum(pr.paymentmoney) from payment_record pr inner join orders o on pr.orderid=o.id where o.companyId=#{arg0}
	</select>
	<!--后台管理      累计回款总金额 （实还金额）-->
	<select id="queryrepayMoney" resultType="java.math.BigDecimal">
		select sum(rp.repaymentMoney) from repayment rp inner join orders o on rp.orderid=o.id where o.companyId=#{arg0} and rp.statu="成功"
	</select>
	<!-- 后台管理       累计回款总金额（线上延期费） -->
	<select id="querydeffermoney" resultType="java.math.BigDecimal">
		select sum(d.interestOnArrears) from deferred d inner join orders o on d.orderid=o.id where o.companyId=#{arg0} and d.deleted=0
	</select>
	<!-- 后台管理       累计回款总金额（人工延期费） -->
	<select id="querydeffermoneylay" resultType="java.math.BigDecimal">
		select sum(lay.extensionfee) from offlinedelay lay inner join orders o on lay.orderid=o.id where o.companyId=#{arg0}
	</select>
	<!-- 后台管理   累计回款总金额（减免后已还总金额）（线上） -->
	<select id="querydeffermoneyacc" resultType="java.math.BigDecimal">
		select sum(acc.amountmoney) from accountadjustment acc inner join orders o on acc.orderid=o.id where o.companyid=#{arg0}
	</select>
	<!-- 后台管理    累计回款总金额（减免后已还总金额）（线下） -->
	<select id="querydeffermoneyoff" resultType="java.math.BigDecimal">
		select sum(off.offusermoney) from offlinjianmian off inner join orders o on off.orderid=o.id where o.companyid=#{arg0}
	</select>
	<!-- 后台管理       累计回款总金额（银行扣款金额） -->
	<select id="querydeffermoneybank" resultType="java.math.BigDecimal">
		select sum(b.deduction_money) from bankdeductions b inner join orders o on b.orderid=o.id where o.companyid=#{arg0}
	</select>
	<!--后台管理      累计应收总金额  -->
	<select id="queryshouldMoney" resultType="com.zhita.model.manage.Orderdetails">
		select od.realityBorrowMoney,od.interestSum,od.interestPenaltySum from orders o inner join orderdetails od on o.id=od.orderid where o.companyId=#{arg0}
	</select>
	
	<!--  ============期限内数据===============-->
	
	<!-- 后台管理        逾前未还笔数 -->
	<select id="overdue" resultType="java.lang.Integer">
		select count(id) from orders where orderStatus='0' and companyId=#{arg0}
	</select>
	<!-- 后台管理       逾前实还金额      订单表所有还款订单-->
	<select id="overduerealOrder" resultType="com.zhita.model.manage.Orders">
		select o.id,o.companyId,o.orderNumber,o.orderCreateTime,o.shouldReturnTime,o.realtime from repayment r inner join orders o on r.orderid=o.id where o.companyId=#{arg0} and r.statu="成功"
	</select>
	<!-- 后台管理       逾前实还金额  -->
	<select id="overduerealMoney" parameterType="java.util.List" resultType="java.math.BigDecimal">
		select sum(repaymentMoney) from repayment where orderId in
		  <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}       
          </foreach>   
          and statu="成功" 
	</select>
	<!-- 后台管理       逾前应收总金额 -->
	<select id="overdueshouldMoney" resultType="java.math.BigDecimal">
		select sum(od.shouldReapyMoney) from orders o inner join orderdetails od on o.id=od.orderid where o.companyId=#{arg0} and o.orderStatus=0
	</select>
	
	<!--============逾期数据=============-->
	
	<!-- 后台管理         逾后未还笔数 -->
	<select id="overdue1" resultType="java.lang.Integer">
		select count(id) from orders where orderStatus='1' and companyId=#{arg0}
	</select>
	<!-- 后台管理        已坏账笔数 -->
	<select id="baddebt1" resultType="java.lang.Integer">
		select count(id) from orders where orderStatus='4' and companyId=#{arg0}
	</select>
	<!-- 后台管理        应还订单 -->
	<select id="shouorder" resultType="java.lang.Integer">
		select count(id) from orders where companyId=#{arg0} and orderStatus!=3
	</select>
	<!--后台管理      逾期应收总金额-->
	<select id="overshouldMoney" resultType="com.zhita.model.manage.Orderdetails">
		select od.shouldReapyMoney,od.interestPenaltySum from orders o inner join orderdetails od on o.id=od.orderid where o.companyId=#{arg0} and o.orderStatus=1
	</select>
	
	
	<!-- =============回收率报表=============-->
	<!--后台管理        查询订单表所有的应还时间  -->
	<select id="queryAllShouldTime" parameterType="java.lang.Integer" resultType="java.lang.String">
		select shouldReturnTime from orders where companyid=#{arg0}
	</select>
	<!-- 后台管理           应还订单 -->
	<select id="shouldorder" resultType="java.lang.Integer">
		select count(id) from orders where companyid=#{arg0} and shouldReturnTime>=#{arg1} and shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理          逾前未还 -->
	<select id="overduenotrepay" resultType="java.lang.Integer">
		select count(id) from orders where companyid=#{arg0} and shouldReturnTime>=#{arg1} and shouldReturnTime &lt;#{arg2} and orderStatus=0
	</select>
	<!-- 后台管理      已还款订单      还款表-->
	<select id="overduerepay" resultType="com.zhita.model.manage.Orders">
		select o.id,o.companyId,o.orderNumber,o.orderCreateTime,o.shouldReturnTime,r.repaymentDate realtime from orders o inner join repayment r on o.id=r.orderid where companyid=#{arg0} and r.statu="成功" and shouldReturnTime>=#{arg1} and shouldReturnTime &lt;#{arg2} and orderStatus=3
	</select>
	<!-- 后台管理      已还款订单   线下还款表 -->
	<select id="overduerepayoff" resultType="com.zhita.model.manage.Orders">
		select o.id,o.companyId,o.orderNumber,o.orderCreateTime,o.shouldReturnTime,off.sedn_time realtime from orders o inner join offlinjianmian off on o.id=off.orderid where companyid=#{arg0}  and shouldReturnTime>=#{arg1} and shouldReturnTime &lt;#{arg2} and orderStatus=3
	</select>
	<!-- 后台管理      已还款订单   银行卡扣款表 -->
	<select id="overduerepaybank" resultType="com.zhita.model.manage.Orders">
		select o.id,o.companyId,o.orderNumber,o.orderCreateTime,o.shouldReturnTime,b.deduction_time realtime from orders o inner join bankdeductions b on o.id=b.orderid where companyid=#{arg0}  and shouldReturnTime>=#{arg1} and shouldReturnTime &lt;#{arg2} and orderStatus=3 order by deduction_time desc limit 1
	</select>
	<!-- 后台管理          逾后未还 -->
	<select id="overdueafternotrepay" resultType="java.lang.Integer">
		select count(id) from orders where companyid=#{arg0} and shouldReturnTime>=#{arg1} and shouldReturnTime &lt;#{arg2} and orderStatus=1
	</select>
	<!-- 后台管理          已坏账 -->
	<select id="baddebt" resultType="java.lang.Integer">
		select count(id) from orders where companyid=#{arg0} and shouldReturnTime>=#{arg1} and shouldReturnTime &lt;#{arg2} and orderStatus=4
	</select>
	<!-- 后台管理        实际应还金额 -->
	<select id="shouldmoney" resultType="com.zhita.model.manage.Orderdetails">
		select shouldReapyMoney,interestPenaltySum from orderdetails od inner join orders o on od.orderid=o.id where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理        线上实际还金额 -->
	<select id="realymoney" resultType="java.math.BigDecimal">
		select sum(r.repaymentMoney) from orders o inner join repayment r on o.id=r.orderid where o.companyid=#{arg0} and r.statu="成功" and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理       线上 延期费 -->
	<select id="deferredmoney" resultType="java.math.BigDecimal">
		select sum(d.interestOnArrears) from orders o inner join deferred d on o.id=d.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2} and d.deleted=0
	</select>
	<!-- 后台管理       人工 延期费 -->
	<select id="deferredmoneylay" resultType="java.math.BigDecimal">
		select sum(lay.extensionfee) from orders o inner join offlinedelay lay on o.id=lay.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理        逾期费 -->
	<select id="overduemoney" resultType="com.zhita.model.manage.Orderdetails">
		select orderid,interestPenaltySum from orders o inner join orderdetails od on o.id=od.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理        减免金额（线上减免） -->
	<select id="deratemoneyon" resultType="java.math.BigDecimal">
		select sum(acc.amountmoney) from orders o inner join accountadjustment acc on o.id=acc.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理        减免金额（线下实际还的金额） -->
	<select id="deratemoneyunder" resultType="java.math.BigDecimal">
		select sum(off.offusermoney) from orders o inner join offlinjianmian off on o.id=off.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理        减免金额（线下时间还的金额） -->
	<select id="offmoney" resultType="java.math.BigDecimal">
		select sum(off.offmoney) from orders o inner join offlinjianmian off on o.id=off.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理        银行扣款金额-->
	<select id="bankMoney" resultType="java.math.BigDecimal">
		select sum(b.deduction_money) from orders o inner join bankdeductions b on o.id=b.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2}
	</select>
	<!-- 后台管理          线上减免已还清订单 -->
	<select id="derateaccon" resultType="java.lang.Integer">
		select count(o.id) from orders o inner join accountadjustment acc on o.id=acc.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2} and orderStatus=0
	</select>
	<!-- 后台管理          线下减免已还清订单 -->
	<select id="derateaccunder" resultType="java.lang.Integer">
		select count(o.id) from orders o inner join offlinjianmian off on o.id=off.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2} and orderStatus=0
	</select>
	<!-- 后台管理         银行扣款已还清订单-->
	<select id="deratebank" resultType="java.lang.Integer">
		select count(o.id) from orders o inner join bankdeductions b on o.id=b.orderid where o.companyid=#{arg0} and o.shouldReturnTime>=#{arg1} and o.shouldReturnTime &lt;#{arg2} and orderStatus=0
	</select>
	
	<select id="test" resultType="com.zhita.model.manage.Orderdetails">
	 select orderid,interestPenaltySum from orderdetails
	</select>
	
	<!-- 后台管理     查询借款信息表的借款期限（比如借款期限是7） -->
	<select id="querylifeOfLoan" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		 select lifeOfLoan from borrow_money_message where companyId=#{arg0}
	</select>
</mapper>