<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.IfblacklistMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Ifblacklist">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="companyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ifblacklist" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, companyId, ifblacklist
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ifblacklist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ifblacklist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Ifblacklist">
    insert into ifblacklist (id, companyId, ifblacklist
      )
    values (#{id,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, #{ifblacklist,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Ifblacklist">
    insert into ifblacklist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="ifblacklist != null">
        ifblacklist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="ifblacklist != null">
        #{ifblacklist,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Ifblacklist">
    update ifblacklist
    <set>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="ifblacklist != null">
        ifblacklist = #{ifblacklist,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--后台管理    编辑功能  -->
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Ifblacklist">
    update ifblacklist set ifblacklist = #{ifblacklist,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理       列表查询 -->
  <select id="queryAll" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Ifblacklist">
  	 select 
    <include refid="Base_Column_List" />
    from ifblacklist where companyId=#{arg0}
  </select>
  
  <select id="getifblacklist" parameterType="java.lang.Integer" resultType="java.lang.String">
	select ifblacklist from ifblacklist where  companyId = #{companyId}
  </select>
</mapper>