<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhita.dao.manage.IffengkongMapper">
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Iffengkong">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="companyId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="iffengkong" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, companyId, iffengkong
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from iffengkong
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from iffengkong
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Iffengkong">
    insert into iffengkong (id, companyId, iffengkong
      )
    values (#{id,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, #{iffengkong,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Iffengkong">
    insert into iffengkong
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="iffengkong != null">
        iffengkong,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="iffengkong != null">
        #{iffengkong,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Iffengkong">
    update iffengkong
    <set>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="iffengkong != null">
        iffengkong = #{iffengkong,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理     编辑功能 -->
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Iffengkong">
    update iffengkong set iffengkong = #{iffengkong,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="getiffengkong" parameterType="java.lang.Integer" resultType="java.lang.String">
	select iffengkong from iffengkong where  companyId = #{companyId}
  </select>
  <!-- 后台管理      列表查询 -->
  <select id="queryAll" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Iffengkong">
  	select 
    <include refid="Base_Column_List" />
    from iffengkong
    where companyId=#{arg0}
  </select>
</mapper>