<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.LoanThresholdvalueMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.LoanThresholdvalue" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="maxthresholdvalue" property="maxthresholdvalue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, maxthresholdvalue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from loan_thresholdvalue
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from loan_thresholdvalue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.LoanThresholdvalue" >
    insert into loan_thresholdvalue (id, maxthresholdvalue)
    values (#{id,jdbcType=INTEGER}, #{maxthresholdvalue,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.LoanThresholdvalue" >
    insert into loan_thresholdvalue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="maxthresholdvalue != null" >
        maxthresholdvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="maxthresholdvalue != null" >
        #{maxthresholdvalue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.LoanThresholdvalue" >
    update loan_thresholdvalue
    <set >
      <if test="maxthresholdvalue != null" >
        maxthresholdvalue = #{maxthresholdvalue,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.LoanThresholdvalue" >
    update loan_thresholdvalue
    set maxthresholdvalue = #{maxthresholdvalue,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理       放款表当天放款金额 -->
  <select id="paymentToday" resultType="java.math.BigDecimal">
  	select sum(pr.paymentmoney) from payment_record pr inner join orders o on pr.orderid=o.id where o.companyId=#{arg0} and pr.remittanceTime>=#{arg1} and pr.remittanceTime &lt;#{arg2}
  </select>
  <!-- 后台管理     放款表所有放款金额 -->
  <select id="allpayment" resultType="java.math.BigDecimal">
  	select sum(pr.paymentmoney) from payment_record pr inner join orders o on pr.orderid=o.id where o.companyId=#{arg0}
  </select>
  <!-- 后台管理       放款表最早的放款时间 -->
  <select id="minpaymenttime" parameterType="java.lang.Integer" resultType="java.lang.String">
  		select min(remittanceTime) from payment_record pr inner join orders o on pr.orderid=o.id where o.companyId=#{arg0} 
  </select>
  <!-- 后台管理         查询放款渠道最大阀值表     最大阀值 -->
  <select id="maxthresholdvalue" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select maxthresholdvalue from loan_thresholdvalue where companyId=#{arg0}
  </select>
  <!-- 后台管理      修改最大阀值 -->
  <update id="upamaxthresholdvalue" parameterType="java.lang.Integer">
  	update loan_thresholdvalue set maxthresholdvalue=#{arg0}
  </update>
  <!-- 后台管理        查询放款渠道状态 -->
  <select id="queryStatus" parameterType="java.lang.Integer" resultType="java.lang.String">
  	select status from loan_setting where companyid=#{arg0}
  </select>
  <!--后台管理        修改放款渠道状态  -->
  <update id="upaloanstatus">
  	update loan_setting set status=#{arg0} where companyId=#{arg1}
  </update>
</mapper>