<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.NewMapper" >

	<select id="NewloanRepayment" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Thirdparty_interface">
		select loanSource,repaymentSource from thirdparty_interface where companyId = #{companyId}
	</select>
	
	
	
	<update id="Repaymentsa" parameterType="com.zhita.model.manage.Repayment">
		update repayment set pipelinenumber = #{pipelinenumber} where orderId = (select max(id) from orders where id = #{orderId})
	</update>
	
	
	
	<select id="getOrderId" parameterType="java.lang.String" resultType="java.lang.Integer">
		select id from orders where orderNumber = #{orderNumber}
	</select>
	
	
	
	<update id="Updatepaymemt" parameterType="com.zhita.model.manage.Payment_record">
		update payment_record set status = #{status} where orderId = #{orderId}
	</update>
	
	
	
	<select id="getOrders" parameterType="java.lang.String" resultType="com.zhita.model.manage.Orders">
		select * from orders where orderNumber = #{orderNumber}
	</select>
	
	
	
	<select id="getPayment" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Payment_record">
		select * from payment_record where id = (select max(id) from payment_record where orderId = #{orderId})
	</select>
	
	
	<update id="UpdateOrders" parameterType="java.lang.Integer">
		update orders set orderStatus = "0" where id = #{id}
	</update>
	
	
	<select id="SelectBankId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select id from bankcard where userId = #{userId}
	</select>
</mapper>