<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.OperationalMapper">
		
		
		<select id="Ordersdata" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select  o.orderCreateTime,count(o.orderCreateTime) as collection_count from orders o,user u
			<where>
				and o.userId = u.id
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				<if test="drainageOfPlatformId != null and drainageOfPlatformId != ''">
						AND u.drainageOfPlatformId = #{drainageOfPlatformId}
				</if>
				AND o.companyId = #{companyId}
			</where>
			GROUP BY o.orderCreateTime
			limit #{page},#{pagesize}
		</select>
		
		
		<select id="ReayMoney" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select sum(paymentmoney) as GesamtbetragderDarlehen,count(pay.id) as ZahlderGesamtdarlehen from payment_record pay,orders o
			where pay.orderId = o.id and o.companyId = #{companyId} and pay.status = "支付成功" and pay.remittanceTime between #{start_time} and #{end_time}
		</select>
		
		
		
		<select id="OrderNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select  count(orderCreateTime) from orders 
			<where>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND orderCreateTime between #{start_time} and #{end_time}
				</if>
				AND companyId = #{companyId}
			</where>
		</select>
		
		
		
		<select id="datastatistics" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(id) from orders where riskManagemenType = #{riskManagemenType} and companyId = #{companyId}
			 and orderCreateTime = #{orderCreateTime}
		</select>
		
		
		
		<select id="Datacollection" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(ord.id) from orderdetails ord,orders o where o.id = ord.orderId
			 and trim(ord.overdueNumberOfDays)!='' and
			o.companyId = #{companyId} group by ord.id 
		</select>
		
		
		
		<select id="Cuishoudata" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(*) from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			and collectionTime = #{orderCreateTime}
		</select>
		
		
		<select id="PhoneHuai" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select orderId from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			and collectionStatus = #{collectionStatus}
			and collectionTime = #{orderCreateTime}
			GROUP BY orderId
		</select>
		
		
		
		<select id="OneOrders" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select * from orders
			where orderCreateTime = #{orderCreateTime}
			and companyId = #{companyId}
			order by id desc limit 1
		</select>
		
		
		
		
		<select id="SelectRealborrowing" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.math.BigDecimal">
			select sum(ord.realityBorrowMoney) from orderdetails ord,orders o where o.id = ord.orderId
			and o.companyId = #{companyId} and o.orderCreateTime = #{orderCreateTime}
		</select>
		
		
		
		<select id="SelectRealityAccount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.math.BigDecimal">
			select sum(ord.realityAccount) from orderdetails ord,orders o where o.id = ord.orderId
			and o.orderCreateTime = #{orderCreateTime} and o.companyId = #{companyId}
		</select>
		
		
		
		<select id="SelectAmountofbaddebts" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.math.BigDecimal">
			select sum(ord.realityBorrowMoney) from orderdetails ord,orders o,collection c
			where c.orderId = ord.orderId 
			and ord.orderId = o.id
			and o.companyId = #{companyId}
			and c.collectionStatus = #{collectionStatus}
			and o.orderCreateTime = #{orderCreateTime}
		</select>
		
		
		
		<select id="SelectRepaymentNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Repayment">
			select  count(o.id)
			 from orders o LEFT JOIN Orderdetails ord ON o.id = ord.orderId
			 LEFT JOIN user u on u.id = o.userId
			 left join repayment re on re.orderId = o.id
			<where>
				AND o.companyId = #{companyId}
				AND o.orderStatus = "3"
				<if test="drainageOfPlatformId != null and drainageOfPlatformId != ''">
						AND u.drainageOfPlatformId = #{drainageOfPlatformId}
				</if>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
			</where>
		</select>
		
		
		
		<select id="SelectOperNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select count(ord.orderId) as orderId,sum(ord.interestPenaltySum) as interestPenaltySum from Orderdetails ord,orders o where o.shouldReturnTime = #{shouldReturnTime}
			and o.companyId = #{companyId} 
		</select>
		
		
		<select id="SelectRepayment" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Repayment">
			select  re.repaymentDate,count(o.id) as repayment_Count,sum(ord.realityAccount) as realityAccount
			 from orders o LEFT JOIN Orderdetails ord ON o.id = ord.orderId
			 LEFT JOIN user u on u.id = o.userId
			 left join repayment re on re.orderId = o.id
			<where>
				AND o.companyId = #{companyId}
				AND o.orderStatus = "3"
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				<if test="drainageOfPlatformId != null and drainageOfPlatformId != ''">
						AND u.drainageOfPlatformId = #{drainageOfPlatformId}
				</if>
			</where>
			group by re.repaymentDate
			limit #{page},#{pagesize}
		</select>
		
		
		<select id="SelectNodeRepayment" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Repayment">
			select count(o.id) as collection_count,sum(ord.realityAccount) as collection_money 
			from orders o LEFT JOIN Orderdetails ord ON o.id = ord.orderId
			 LEFT JOIN user u ON u.id = o.userId
			<where>
				AND o.companyId = #{companyId}
				AND o.orderStatus = "3"
				AND ord.interestPenaltySum != 0
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				<if test="drainageOfPlatformId != null and drainageOfPlatformId != ''">
						AND u.drainageOfPlatformId = #{drainageOfPlatformId}
				</if>
			</where>
			limit #{page},#{pagesize}
		</select>
		
		
		
		
		
		
		
		<select id="RepaymentCollection" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Repayment">
			select count(id),sum(repaymentMoney) as repaymentSumMoney from repayment where orderid in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</select>		
		
		
		
		
		<select id="ConnectionidAll" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select ord.orderId from Orderdetails ord,Orders o where trim(ord.overdueNumberOfDays) !=''
			and o.companyId = #{companyId} group by ord.orderId
		</select>
		
		
		
		
		<select id="CollectionDatas" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select 	o.orderCreateTime,count(o.id) as collection_count,sum(ora.makeLoans) as makeLoans,
			sum(ora.interestPenaltySum) as interestPenaltySum from orderdetails ora,orders o,user u
			<where>	
				AND ora.orderId = o.id
				AND u.id = o.userId
				AND o.orderStatus = "1"
				AND o.companyId = #{companyId} 
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				<if test="drainageOfPlatformId != null and drainageOfPlatformId != ''">
				    AND u.drainageOfPlatformId = #{drainageOfPlatformId}
				</if>
			</where>
			GROUP BY o.orderCreateTime
			limit #{page},#{pagesize}		
		</select>
		
		
		
		<select id="OneCollectionData" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select count(o.id) as collection_count,sum(ora.makeLoans) as makeLoans,sum(ora.interestPenaltySum) as interestPenaltySum
			from orders o,orderdetails ora,user u
			<where>
				ora.orderId = o.id
				AND u.id = o.userId
				AND o.orderStatus = "1"
				AND o.companyId = #{companyId} 
				AND o.orderCreateTime between #{start_time} and #{end_time}
				<if test="drainageOfPlatformId != null and drainageOfPlatformId != ''">
				    AND u.drainageOfPlatformId = #{drainageOfPlatformId}
				</if>
			</where>
		</select>
		
		
		
		<select id="CollectionDataNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select 	count(o.orderCreateTime) from orderdetails ora,orders o,user u
			<where>	
				AND ora.orderId = o.id
				AND u.id = o.userId
				AND o.companyId = #{companyId} 
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				<if test="drainageOfPlatformId != null and drainageOfPlatformId != ''">
						AND u.drainageOfPlatformId = #{drainageOfPlatformId}
				</if>
			</where>
		</select>
		
		
		
		<select id="CollectionNumberofreminders" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select orderId from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			group by orderId
		</select>
		
		
		
		<select id="SelecNumberCollection" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(id) from orders where companyId = #{companyId} AND orderStatus = "4" and orderCreateTime = #{orderCreateTime}
		</select>
		
		
		
		
		
		<select id="SelectOrderBudeNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select o.orderCreateTime,sum(ora.makeLoans) as Realborrowing,
			sum(ora.realityAccount) as realityAccount from orders o,orderdetails ora 
			<where>
				AND o.id = ora.orderId
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				AND o.companyId = #{companyId}
			</where>
		</select>
		
		
		
		<select id="SelectOrderBude" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select o.orderCreateTime,sum(ora.makeLoans) as Realborrowing,
			sum(ora.realityAccount) as realityAccount from orders o,orderdetails ora 
			<where>
				AND o.id = ora.orderId
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				AND o.companyId = #{companyId}
			</where>
			GROUP BY o.orderCreateTime
			limit #{page},#{pagesize}
		</select>
		
		
		
		
		<select id="AllDrainage" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Drainage_of_platform">
			select id,sourceName as drainageOfPlatformName from source where companyId = #{companyId}
		</select>
		
		
		
		
		<select id="GesamtbetragderDarlehen" parameterType="com.zhita.model.manage.Orders" resultType="com.zhita.model.manage.Orders">
			select sum(ord.makeLoans) as GesamtbetragderDarlehen,count(o.id) as ZahlderGesamtdarlehen from orders o,orderdetails ord
			where o.orderCreateTime = #{orderCreateTime} and o.companyId = #{companyId}
		</select>
		
		
		<select id="GesamtbetragderRvckzahlung" parameterType="com.zhita.model.manage.Orders" resultType="com.zhita.model.manage.Orders">
			select sum(ord.realityAccount) as GesamtbetragderRvckzahlung,count(o.id) as GesamtbetragderNum from orders o,orderdetails ord
			where o.orderCreateTime = #{orderCreateTime} and o.companyId = #{companyId}
		</select>
		
		
		<select id="GesamtbetraguberfalligerBetrag" parameterType="com.zhita.model.manage.Orders" resultType="com.zhita.model.manage.Orders">
			select sum(ord.realityAccount) as GesamtbetraguberfalligerBetrag,count(o.id) as GesamtbetraguberfallNum from orders o,orderdetails ord
			where o.orderCreateTime = #{orderCreateTime} and o.companyId = #{companyId} and o.orderStatus = "1"
		</select>
		
		<select id="GesamtbetragderVerbindlichkeiten" parameterType="com.zhita.model.manage.Orders" resultType="com.zhita.model.manage.Orders">
			select sum(ord.realityAccount) as GesamtbetragderVerbindlichkeiten,count(o.id) as GesamtbetragdererNum from orders o,orderdetails ord
			where o.orderCreateTime = #{orderCreateTime} and o.companyId = #{companyId} and o.orderStatus = "3"
		</select>
		
		
		
		
		<select id="Pressformoney" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select count(c.collectionId) as pressformoney from orders o,collection c,user u
			<where>
				AND o.id = c.orderId 
				AND u.id = o.userId 
				AND o.orderCreateTime = #{orderCreateTime} 
				AND o.companyId = #{companyId}
				AND c.collectionStatus = #{collectionStatus}
			</where>	
		 
		</select>
		
		
		<select id="Beoverdue" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select c.orderId from collection c,orders o where o.orderCreateTime = #{orderCreateTime} and o.companyId = #{companyId} group by c.orderId
		</select>
		
		
		<select id="Overdue_class" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.OverdueClass">
			select id,grade from Overdue_class where companyid = #{companyid}
		</select>
		
		
		<select id="Gesamtb" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select sum(repay.repaymentMoney) as GesamtbetragderRvckzahlung,count(repay.id) as GesamtbetragderNum from repayment repay,orders o
			where o.id = repay.orderId and o.companyId = #{companyId} and repay.repaymentDate between #{start_time} and #{end_time}
		</select>
		
		
		
		<select id="CollMoney" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select sum(ord.makeLoans) as GesamtbetraguberfalligerBetrag,count(ord.orderId) as GesamtbetraguberfallNum from collection c,orders o,orderdetails ord
			where c.orderId = o.id and c.orderId = ord.orderId and o.companyId = #{companyId} and o.orderStatus = "3" and c.collectionTime between #{start_time} and #{end_time}
		</select>
		
		
		
		<select id="HuaiMoney" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select sum(ord.makeLoans) as Amountofbaddebts,count(ord.orderId) as Baddebt from collection c,orders o,orderdetails ord
			where c.orderId = o.id and c.orderId = ord.orderId and o.companyId = #{companyId} and o.orderStatus = "4" and c.collectionTime between #{start_time} and #{end_time}
		</select>
		
		
		
		<select id="OrderHuan" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select count(repay.id) as GesamtbetragderNum,sum(repay.repaymentMoney) as GesamtbetragderRvckzahlung from repayment repay,orders o
			where o.id = repay.orderId and o.companyId = #{companyId} and o.orderStatus = "3" and repay.repaymentDate between #{start_time} and #{end_time}
		</select>
		
		
		
		
		<select id="CollectionOrders" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select count(c.orderId) from orders o,collection c where o.id = c.orderId and o.companyId = #{companyId} and 
			c.collectionTime between #{start_time} and #{end_time} group by c.orderId
		</select>
		
		
		
		<select id="CollectionNumSSA" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select count(c.collectionId) from orders o,collection c where o.id = c.orderId and o.companyId = #{companyId} and
			c.collectionTime between #{start_time} and #{end_time} 
		</select>
		
		
		
		<select id="OrderOKCollection" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select count(o.id) from orders o,collection c where o.id = c.orderId and o.companyId = #{companyId} and o.orderStatus= #{orderStatus}
			and c.collectionTime  between #{start_time} and #{end_time} 
		</select>
		
		
		
		
		
</mapper>