<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.OperationalMapper">
		
		
		<select id="Ordersdata" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select  orderCreateTime,count(orderCreateTime) as collection_count from orders 
			<where>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND orderCreateTime between #{start_time} and #{end_time}
				</if>
				AND companyId = #{companyId}
			</where>
			GROUP BY orderCreateTime
			limit #{page},#{pagesize}
		</select>
		
		
		
		<select id="OrderNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select  orderCreateTime,count(orderCreateTime) as collection_count from orders 
			<where>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND orderCreateTime between #{start_time} and #{end_time}
				</if>
				AND companyId = #{companyId}
			</where>
		</select>
		
		
		
		<select id="datastatistics" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(id) from orders where riskManagemenType = #{riskManagemenType} and companyId = #{companyId}
			 and orderCreateTime = #{orderCreateTime}
		</select>
		
		
		
		<select id="Datacollection" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(ord.id) from orderdetails ord,orders o where o.id = ord.orderId
			 and trim(ord.overdueNumberOfDays)!='' and
			o.companyId = #{companyId} group by ord.id 
		</select>
		
		
		
		<select id="Cuishoudata" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(*) from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			and collectionTime = #{orderCreateTime}
		</select>
		
		
		<select id="PhoneHuai" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select orderId from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			and collectionStatus = #{collectionStatus}
			and collectionTime = #{orderCreateTime}
			GROUP BY orderId
		</select>
		
		
		
		<select id="OneOrders" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select * from orders
			where orderCreateTime = #{orderCreateTime}
			and companyId = #{companyId}
			order by id desc limit 1
		</select>
		
		
		
		
		<select id="SelectRealborrowing" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.math.BigDecimal">
			select sum(ord.realityBorrowMoney) from orderdetails ord,orders o where o.id = ord.orderId
			and o.companyId = #{companyId} and o.orderCreateTime = #{orderCreateTime}
		</select>
		
		
		
		<select id="SelectRealityAccount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.math.BigDecimal">
			select sum(ord.realityAccount) from orderdetails ord,orders o where o.id = ord.orderId
			and o.orderCreateTime = #{orderCreateTime} and o.companyId = #{companyId}
		</select>
		
		
		
		<select id="SelectAmountofbaddebts" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.math.BigDecimal">
			select sum(ord.realityBorrowMoney) from orderdetails ord,orders o,collection c
			where c.orderId = ord.orderId 
			and ord.orderId = o.id
			and o.companyId = #{companyId}
			and c.collectionStatus = #{collectionStatus}
			and o.orderCreateTime = #{orderCreateTime}
		</select>
		
		
		
		<select id="SelectRepaymentNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Repayment">
			select  orderId,repaymentDate,count(repaymentDate) as repayment_Count from repayment 
			<where>
				 and collectionMemberId in 
				<foreach collection="ids" item="id" open="(" separator="," close=")">
					#{id}
				</foreach>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND repaymentDate between #{start_time} and #{end_time}
				</if>
			</where>
		</select>
		
		
		
		<select id="SelectOperNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select count(ord.orderId) as orderId,sum(ord.interestPenaltySum) as interestPenaltySum from Orderdetails ord,orders o where o.shouldReturnTime = #{shouldReturnTime}
			and o.companyId = #{companyId} 
		</select>
		
		
		<select id="SelectRepayment" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Repayment">
			select  repaymentDate as operator_time,count(repaymentDate) as repayment_Count,sum(repaymentMoney) as repaymentSumMoney
			 from repayment 
			<where>
				 and collectionMemberId in 
				<foreach collection="ids" item="id" open="(" separator="," close=")">
					#{id}
				</foreach>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND repaymentDate between #{start_time} and #{end_time}
				</if>
			</where>
			GROUP BY repaymentDate
			limit #{page},#{pagesize}
		</select>
		
		
		
		
		<select id="RepaymentCollection" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Repayment">
			select count(id),sum(repaymentMoney) as repaymentSumMoney from repayment where orderid in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</select>		
		
		
		
		
		<select id="ConnectionidAll" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select ord.orderId from Orderdetails ord,Orders o where trim(ord.overdueNumberOfDays) !=''
			and o.companyId = #{companyId} group by ord.orderId
		</select>
		
		
		
		
		<select id="CollectionDatas" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select 	o.orderCreateTime,count(o.id) as collection_count,sum(ora.makeLoans) as makeLoans,
			sum(interestPenaltySum) as interestPenaltySum from orderdetails ora,orders o 
			<where>	
				AND ora.orderId = o.id
				AND o.orderStatus = "1"
				AND o.companyId = #{companyId} 
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
			</where>
			GROUP BY o.orderCreateTime
			limit #{page},#{pagesize}		
		</select>
		
		
		
		<select id="CollectionDataNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select 	o.orderCreateTime,count(o.orderCreateTime) as collection_count,sum(ora.makeLoans) as makeLoans,
			sum(interestPenaltySum) as interestPenaltySum from orderdetails ora,orders o 
			<where>	
				AND ora.orderId = o.id
				AND o.companyId = #{companyId} 
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
			</where>
		</select>
		
		
		
		<select id="CollectionNumberofreminders" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select orderId from collection where collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			group by orderId
		</select>
		
		
		
		<select id="SelecNumberCollection" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(orderId) from collection 
			<where>
				AND collectionMemberId in
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			<if test="collectionStatus != null and collectionStatus != ''">
				AND collectionStatus = #{collectionStatus}
			</if>
			</where>
		</select>
		
		
		
		
		
		<select id="SelectOrderBudeNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select o.orderCreateTime,sum(ora.makeLoans) as Realborrowing,
			sum(ora.realityAccount) as realityAccount from orders o,orderdetails ora 
			<where>
				AND o.id = ora.orderId
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				AND o.companyId = #{companyId}
			</where>
		</select>
		
		
		
		<select id="SelectOrderBude" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orders">
			select o.orderCreateTime,sum(ora.makeLoans) as Realborrowing,
			sum(ora.realityAccount) as realityAccount from orders o,orderdetails ora 
			<where>
				AND o.id = ora.orderId
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND o.orderCreateTime between #{start_time} and #{end_time}
				</if>
				AND o.companyId = #{companyId}
			</where>
			GROUP BY o.orderCreateTime
			limit #{page},#{pagesize}
		</select>
		
</mapper>