<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.OverdueClassMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.OverdueClass" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyId" property="companyid" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, companyId, grade, describe, deleted
  </sql>
  <!-- 后台管理       根据id查询出当前对象信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from overdue_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from overdue_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 后台管理    添加功能 -->
  <insert id="insert" parameterType="com.zhita.model.manage.OverdueClass" >
    insert into overdue_class (companyId, grade,describe)
    values (#{companyid,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.OverdueClass" >
    insert into overdue_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyid != null" >
        companyId,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="describe != null" >
        describe,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.OverdueClass" >
    update overdue_class
    <set >
      <if test="companyid != null" >
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        describe = #{describe,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理       修改保存功能 -->
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.OverdueClass" >
    update overdue_class
    set companyId = #{companyid,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理        查询逾期等级表所有信息 -->
  <select id="
" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.OverdueClass">
  	select 
    <include refid="Base_Column_List" />
    from overdue_class
    where companyId=#{arg0}
  </select>
  <!-- 后台管理       查询黑名单分界线表的信息 -->
  <select id="query" resultType="com.zhita.model.manage.BlackDemarcationLine">
  	select * from black_demarcation_line
  </select>
  <!-- 后台管理       修改黑名单分界线的值 -->
  <update id="update" parameterType="java.lang.String">
  	update black_demarcation_line set demarcationline=#{arg0}
  </update>
</mapper>