<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.PaymentRecordMapper" >
	 <resultMap id="BaseResultMap" type="com.zhita.model.manage.Payment_record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="remittanceTime" property="remittancetime" jdbcType="VARCHAR" />
    <result column="professionalWork" property="professionalwork" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderId, remittanceTime, professionalWork, status, deleted
  </sql>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from payment_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from payment_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
 
 
 
  <insert id="insert" parameterType="com.zhita.model.manage.Payment_record" >
    insert into payment_record (id, orderId, remittanceTime, 
      professionalWork, status, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, #{remittancetime,jdbcType=VARCHAR}, 
      #{professionalwork,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{deleted,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Payment_record" >
    insert into payment_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="remittancetime != null" >
        remittanceTime,
      </if>
      <if test="professionalwork != null" >
        professionalWork,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="remittancetime != null" >
        #{remittancetime,jdbcType=VARCHAR},
      </if>
      <if test="professionalwork != null" >
        #{professionalwork,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


 
 
 
 
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Payment_record" >
    update payment_record
    <set >
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="remittancetime != null" >
        remittanceTime = #{remittancetime,jdbcType=VARCHAR},
      </if>
      <if test="professionalwork != null" >
        professionalWork = #{professionalwork,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Payment_record" >
    update payment_record
    set orderId = #{orderid,jdbcType=INTEGER},
      remittanceTime = #{remittancetime,jdbcType=VARCHAR},
      professionalWork = #{professionalwork,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="TotalCountPayment" parameterType="com.zhita.model.manage.Payment_record" resultType="java.lang.Integer">
		  	select count(ra.id) from payment_record ra,user u,orders o,orderdetails ord,thirdparty_interface thir
		  	<where>
		  		AND ra.thirdparty_id = thir.id
		  		AND ra.orderId = o.id
		  		AND o.userId = u.id
		  		AND o.id = ord.orderId
		  		AND o.companyId = #{companyId}
		  		<if test="orderId != null and orderId != ''">
		  			AND ra.orderId = #{orderId}
		  		</if>
		  		<if test="pipelinenumber != null and pipelinenumber != ''">
		  			AND ra.pipelinenumber = #{pipelinenumber}
		  		</if>
		  		<if test="name != null and name != ''">
		  			AND u.name LIKE concat('%',#{name},'%') 
		  		</if>
		  		<if test="phone != null and phone != ''">
		  			AND u.phone LIKE concat('%',#{phone},'%')  
		  		</if>
		  		<if test="thirdparty_id != null and thirdparty_id != ''">
					AND thir.id = #{thirdparty_id}
				</if>
		  		<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND ra.remittanceTime between #{start_time} and #{end_time}
				</if>
		  	</where>
		  </select>
		  
  
  
  
  
  
  		  <select id="PaymentAll" parameterType="com.zhita.model.manage.Payment_record" resultType="com.zhita.model.manage.Payment_record">
		  	select ra.orderId,ra.remittanceTime,thir.name as sourceName,o.orderNumber,u.name,u.phone,ord.realityBorrowMoney as paymentmoney,ra.pipelinenumber
		  	 from payment_record ra LEFT JOIN orders o ON ra.orderId = o.id
		  	 LEFT JOIN user u ON o.userId = u.id
		  	 LEFT JOIN orderdetails ord ON o.id = ord.orderId
		  	 LEFT JOIN loan_setting thir ON ra.thirdparty_id = thir.id
		  	<where>
		  		AND ra.professionalWork = #{professionalWork}
		  		AND o.companyId = #{companyId}
		  		<if test="orderNumber != null and orderNumber != ''">
		  			AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
		  		</if>
		  		<if test="pipelinenumber != null and pipelinenumber != ''">
		  			AND ra.pipelinenumber = #{pipelinenumber}
		  		</if>
		  		<if test="name != null and name != ''">
		  			AND u.name LIKE concat('%',#{name},'%') 
		  		</if>
		  		<if test="phone != null and phone != ''">
		  			AND u.phone LIKE concat('%',#{phone},'%')  
		  		</if>
		  		<if test="thirdparty_id != null and thirdparty_id != ''">
					AND thir.id = #{thirdparty_id}
				</if>
		  		<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND ra.remittanceTime between #{start_time} and #{end_time}
				</if>
		  	</where>
		  	group by ra.orderId 
		  	order by ra.orderId desc
		  	limit #{page},#{pagesize}
		  </select>
  
  
  
  
  			<select id="ThirdAll" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Thirdparty_interface">
  				select id,loanSource,repaymentSource from Thirdparty_interface where companyId = #{companyId}
  			</select>
  
  
  
  			<select id="RepaymentTotalCount" parameterType="com.zhita.model.manage.Payment_record" resultType="java.lang.Integer">
			  	select count(ra.id) from repayment ra,user u,orders o,thirdparty_interface thir
			  	<where>
			  		AND ra.orderId = o.id
			  		AND ra.thirdparty_id = thir.id
			  		AND o.userId = u.id
			  		AND o.companyId = #{companyId}
			  		<if test="orderId != null and orderId != ''">
			  			AND ra.orderId = #{orderId}
			  		</if>
			  		<if test="pipelinenumber != null and pipelinenumber != ''">
			  			AND ra.pipelinenumber = #{pipelinenumber}
			  		</if>
			  		<if test="name != null and name != ''">
			  			AND u.name LIKE concat('%',#{name},'%') 
			  		</if>
			  		<if test="phone != null and phone != ''">
			  			AND u.phone LIKE concat('%',#{phone},'%')  
			  		</if>
			  		<if test="thirdparty_id != null and thirdparty_id != ''">
						AND thir.id = #{thirdparty_id}
					</if>
			  		<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND ra.repaymentDate between #{start_time} and #{end_time}
					</if>
			  	</where>
			  </select>
		  
  			
  			
  			<select id="RepaymentAll" parameterType="com.zhita.model.manage.Payment_record" resultType="com.zhita.model.manage.Payment_record">
			  	select o.id,ra.repaymentDate,ra.statu,thir.name as thname,ra.repaymentMoney,o.orderNumber,u.name,u.phone,ra.pipelinenumber
			  	 from repayment ra LEFT JOIN orders o on ra.orderId = o.id
			  	 LEFT JOIN user u ON o.userId = u.id
			  	 LEFT JOIN orderdetails ord ON o.id = ord.orderId
			  	 LEFT JOIN repayment_setting thir ON ra.thirdparty_id = thir.id
			  	<where>
			  		AND o.companyId = #{companyId}
			  		<if test="orderNumber != null and orderNumber != ''">
			  			AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
			  		</if>
			  		<if test="pipelinenumber != null and pipelinenumber != ''">
			  			AND ra.pipelinenumber LIKE concat('%',#{pipelinenumber},'%') 
			  		</if>
			  		<if test="name != null and name != ''">
			  			AND u.name LIKE concat('%',#{name},'%') 
			  		</if>
			  		<if test="phone != null and phone != ''">
			  			AND u.phone LIKE concat('%',#{phone},'%')
			  		</if>
			  		<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND ra.repaymentDate between #{start_time} and #{end_time}
					</if>
					<if test="thirdparty_id != null and thirdparty_id != ''">
						AND thir.id = #{thirdparty_id}
					</if>
			  	</where>
			  	group by o.id 
			  	order by o.id desc
		  		limit #{page},#{pagesize}
			  </select>
			  
			  
			  
			  <select id="SelectThird" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Loan_setting">
  				select id,name from loan_setting where companyId = #{companyId}
  			</select>
  			
  			
  			
  			<select id="SelectRepay" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Repayment_setting">
  				select id,name from repayment_setting where companyId = #{companyId}
  			</select>
  			
  			
  			
  			 <select id="SelectPaymentOrder" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
  			 		select ord.orderId,o.orderNumber,o.borrowTimeLimit,u.name,u.phone,u.registeTime,o.orderCreateTime,so.sourceName as drainageOfPlatformName,o.riskmanagementFraction,
					 o.borrowMoneyWay,o.shouldReturnTime,ord.realityAccount as realityBorrowMoney,ord.makeLoans,ord.interestInAll,ord.realityAccount,ma.rmModleName as riskcontrolname,u.riskControlPoints,u.delayTimes,
					ord.overdueNumberOfDays,defeset.onceDeferredDay,defe.interestOnArrears,o.shouldReturnTime as deferBeforeReturntime,defe.deferAfterReturntime,ord.InterestSum,o.shouldReturnTime,
					ord.interestPenaltySum,o.realtime 
  			 		from orders o left join user u on o.userId = u.id
					left join orderdetails ord on o.id = ord.orderId
					left join payment_record pay ON pay.orderId = o.id
					left join deferred defe on defe.orderid = o.id 
					left join deferred_settings defeset on defeset.companyId = o.companyId 
					left join source so on so.id = u.sourceId
					left join manage_control_settings ma on ma.id=so.manageControlId
  			 		<where>
  			 			pay.orderId =#{orderId} 
  			 			AND o.companyId = #{companyId}
						and pay.orderId = o.id
  			 		</where>
  			 		group by ord.orderId
  			 </select>
  			 
  			 
  			 <select id="OrderMoneySum" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
  			 	select realityBorrowMoney as order_money from orderdetails where orderId = #{orderId}
  			 </select>
  
  
  
  
  			<select id="OrdeRepayment" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
  					select ord.orderId,o.orderNumber,u.name,u.phone,u.registeTime,o.orderCreateTime,d.sourceName as drainageOfPlatformName,
					 o.riskmanagementFraction, o.borrowMoneyWay,o.shouldReturnTime,ord.realityBorrowMoney,ord.makeLoans,ord.interestInAll,ord.realityAccount,
					 o.riskcontrolname,us.idcard_number,o.borrowTimeLimit,ord.overdueNumberOfDays,ord.interestPenaltySum,pay.pipelinenumber,ord.interestSum
					from orders o left JOIN user u on o.userId = u.id 
					LEFT JOIN source d on d.id = u.sourceId
					LEFT JOIN orderdetails ord on o.id = ord.orderid
					LEFT JOIN user_attestation us on us.userId = u.id
					LEFT JOIN payment_record pay on o.id = pay.orderId
  					<where>
  					 o.orderStatus != "3"
  					 and pay.orderId = o.id
  					 and us.userId = u.id
  					 AND o.userId = u.id  
  					 AND o.id = ord.orderId 
					AND d.id = u.sourceId 
					AND o.companyId = #{companyId}
  			 			<if test="phone != null and phone != ''">
  			 				AND u.phone = #{phone}
  			 			</if>
  			 			<if test="idcard_number != null and idcard_number != ''">
  			 				AND us.idcard_number = #{idcard_number}
  			 			</if>
  					</where>
  					group by ord.orderId
  			</select>
  			
  			
  			
  			<select id="DeleteNumMoney" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Deferred">
  				select count(de.id) as DefeNum,sum(interestOnArrears) as DefeMoney from deferred de where orderId = #{orderId}
  			</select>
  			
  			
  			<insert id="AddCAccount" parameterType="com.zhita.model.manage.Accountadjustment">
  				 INSERT INTO `accountadjustment`(
  				 		orderId,
  				 		totalamount,
  				 		amountmoney,
  				 		remarks,
  				 		accounttime,
  				 		beoverdue,
  				 		rename_id,
  				 		amou_time,
  				 		sys_uerId
  				 )
  				 VALUES
  				 (#{orderId},#{totalamount},#{amountmoney},#{remarks},#{accounttime},#{beoverdue},#{rename_id},#{amou_time},#{sys_uerId})
  			</insert>
  			
  			
  			<select id="AccountTotalCount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
  				select count(a.id) from orders o,user u,accountadjustment a,repayment_setting re
  				<where>
  					AND o.id = a.orderId
  					AND o.companyId = #{companyId}
  					AND o.userId = u.id
  					AND o.orderStatus = "2"
  					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
					</if>
					<if test="accounttimestart_time != null and accounttimestart_time != '' and accounttimeent_time != null and accounttimeent_time != ''">
						AND a.amou_time between #{accounttimestart_time} and #{accounttimeent_time}
					</if>
					<if test="name != null and name != ''">
						AND u.name LIKE concat('%',#{name},'%') 
					</if>
					<if test="phone != null and phone != ''">
						AND u.phone LIKE concat('%',#{phone},'%') 
					</if>
					<if test="orderNumber != null and orderNumber != ''">
						AND o.orderNumber LIKE concat('%',#{orderNumber},'%')
					</if>
					<if test="rename_id != null and rename_id != ''">
						AND a.rename_id = #{rename_id}
					</if>
  				</where>
  			</select>
  			
  			
  			
  			
  			
  			
  			<select id="AllAccount" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Accountadjustment">
  				select o.orderNumber,u.name,u.phone,re.name as thname,a.accounttime,a.totalamount,a.amountmoney,a.remarks,a.beoverdue,a.amou_time FROM	
  				repayment_setting re,user u,orders o,accountadjustment a
  				<where>
  					a.orderId = o.id 
  					AND u.id = o.userId 
  					AND o.companyId = #{companyId}
  					AND o.orderStatus = "0"
  					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
					</if>
					<if test="name != null and name != ''">
						AND u.name LIKE concat('%',#{name},'%') 
					</if>
					<if test="phone != null and phone != ''">
						AND u.phone LIKE concat('%',#{phone},'%')  
					</if>
					<if test="orderNumber != null and orderNumber != ''">
						AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
					</if>
					<if test="rename_id != null and rename_id != ''">
						AND re.id = #{rename_id}
					</if>
					<if test="accounttimestart_time != null and accounttimestart_time != '' and accounttimeent_time != null and accounttimeent_time != ''">
						AND a.amou_time between #{accounttimestart_time} and #{accounttimeent_time}
					</if>
  				</where>
  				group by o.id 
  				order by o.id desc
  				limit #{page},#{pagesize}
  			</select>
  
  
  
  			<select id="AllStatu" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Accountadjustment">
  				select o.id,o.orderNumber,u.name,u.phone,th.name as thname,a.accounttime,a.totalamount,a.amountmoney,a.remarks,a.accounttime,a.beoverdue,
  				 a.amou_time,re.pipelinenumber from orders o,user u,accountadjustment a,repayment_setting th,repayment re  
  				<where>
  					a.orderId = o.id 
  					and u.id = o.userId 
  					and o.orderStatus = "3"
  					and re.orderId = a.orderId
  					and o.companyId = #{companyId}
  					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
					</if>
					<if test="name != null and name != ''">
						AND u.name LIKE concat('%',#{name},'%')  
					</if>
					<if test="phone != null and phone != ''">
						AND u.phone LIKE concat('%',#{phone},'%') 
					</if>
					<if test="orderNumber != null and orderNumber != ''">
						AND o.orderNumber LIKE concat('%',#{orderNumber},'%')  
					</if>
					<if test="rename_id != null and rename_id != ''">
						AND a.rename_id = #{rename_id}
					</if>
					<if test="accounttimestart_time != null and accounttimestart_time != '' and accounttimeent_time != null and accounttimeent_time != ''">
						AND a.amou_time between #{accounttimestart_time} and #{accounttimeent_time}
					</if>
					
  				</where>
  				group by o.orderNumber
  				limit #{page},#{pagesize}
  			</select>
  			
  			
  			
  			
  			<select id="AllNotMoneyStatu" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Accountadjustment">
  				select o.id,o.orderNumber,u.name,u.phone,th.name as thname,a.accounttime,a.totalamount,a.amou_time,
  				a.amountmoney,a.remarks,a.accounttime,a.beoverdue
  				,ord.overdueNumberOfDays from 
  				 orderdetails ord,orders o,user u,accountadjustment a,repayment re,repayment_setting th
  				<where>
  					o.id = ord.orderId
  					AND a.orderId = o.id 
  					AND u.id = o.userId
	 				AND re.orderId = a.orderId 
	 				AND th.id = a.rename_id
  					AND o.orderStatus = "1"
  					AND o.companyId = #{companyId}
  					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND o.orderCreateTime between #{start_time} and #{end_time}
					</if>
					<if test="name != null and name != ''">
						AND u.name LIKE concat('%',#{name},'%') 
					</if>
					<if test="phone != null and phone != ''">
						AND u.phone LIKE concat('%',#{phone},'%')  
					</if>
					<if test="orderNumber != null and orderNumber != ''">
						AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
					</if>
					<if test="repaymentSource != null and repaymentSource != ''">
						AND th.repaymentSource = #{repaymentSource}
					</if>
					<if test="accounttimestart_time != null and accounttimestart_time != '' and accounttimeent_time != null and accounttimeent_time != ''">
						AND a.amou_time between #{accounttimestart_time} and #{accounttimeent_time}
					</if>
  				</where>
  				group by o.id desc
  				limit #{page},#{pagesize}
  			</select>
  			
  			
  			
  			
  			
  			
  			
  			<insert id="AddUndertheline" parameterType="com.zhita.model.manage.Offlinetransfer">
	  			 INSERT INTO `offlinetransfer`(
	  				 		sys_userId,
	  				 		projectname,
	  				 		state,
	  				 		channel,
	  				 		number,
	  				 		money,
	  				 		remarks,
	  				 		offinetransfertime
	  				 )
	  				 VALUES
	  				 (#{sys_userId},#{projectname},#{state},#{channel},#{number},#{money},#{remarks},#{offinetransfertime})
  			</insert>
  			
  			
  			
  			
  			<select id="SelectUnderthTotalCount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
  				select count(id) from offlinetransfer 
  				<where>
  					<if test="repaymentnumber != null and repaymentnumber != ''">
  						AND number LIKE concat('%',#{repaymentnumber},'%') 
  					</if>
  					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND offinetransfertime between #{start_time} and #{end_time}
					</if>
  				</where> 
  			</select>
  			
  			
  			
  			<select id="AllUnderthe" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Offlinetransfer">
  				select of.id,of.offinetransfertime,sy.account,of.projectname,of.remarks,of.number,of.state,of.money,of.channel
  				 from Offlinetransfer of,sys_user sy
  				<where>
  					 of.sys_userId = sy.userId
  					AND sy.companyId = #{companyId}
  					<if test="repaymentnumber != null and repaymentnumber != ''">
  						AND of.number LIKE concat('%',#{repaymentnumber},'%')
  					</if>
  					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND of.offinetransfertime between #{start_time} and #{end_time}
					</if>
  				</where> 
  				order by of.id desc
  				limit #{page},#{pagesize}
  			</select>
  			
  			
  			
  			<select id="XiaOrder" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Offlinjianmian">
  					select u.sedn_time,sy.account,o.orderNumber,ua.name,ua.phone,ord.makeLoans,u.offusermoney,u.remarks
  				 from offlinjianmian u,sys_user sy,orders o,user ua,orderdetails ord 
  				<where>
  					 u.fina_id = sy.userId
  					and o.companyId = sy.companyId
  					and o.id = u.orderId
  					and o.id = ord.orderId
  					AND o.companyId = #{companyId}
  					<if test="orderNumber != null and orderNumber != ''">
  						AND o.orderNumber LIKE concat('%',#{orderNumber},'%')
  					</if>
  					<if test="phone != null and phone != ''">
  						AND ua.phone LIKE concat('%',#{phone},'%') 
  					</if>
  					<if test="name != null and name != ''">
  						AND ua.name LIKE concat('%',#{name},'%') 
  					</if>
  					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND u.underthe_time between #{start_time} and #{end_time}
					</if>
  				</where> 
  				Group by u.id
  				limit #{page},#{pagesize}
  			</select>
  			
  			
  			
  			
  			<select id="XiaTotalCount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
  				select count(u.id)
  				 from offlinjianmian u left join sys_user sy on u.fina_id=sy.userId
  				 left join orders o on u.orderId = o.id
  				 left join user ua on ua.id = o.userId
  				 left join orderdetails ord on o.id = ord.orderId 
  				<where>
  					AND o.companyId = #{companyId}
  					<if test="orderNumber != null and orderNumber != ''">
  						AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
  					</if>
  					<if test="phone != null and phone != ''">
  						AND ua.phone LIKE concat('%',#{phone},'%')  
  					</if>
  					<if test="name != null and name != ''">
  						AND ua.name LIKE concat('%',#{name},'%') 
  					</if>
  					<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
						AND u.sedn_time between #{start_time} and #{end_time}
					</if>
  				</where> 
  				GROUP BY u.fina_id
  			</select>
  			
  			
  			
  			
  			
  			<select id="Sys_userIds" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  				select userId from sys_user where companyId = #{companyId}
  			</select>
  			
  			
  			
  			<select id="BankDeduOrderNum" parameterType="com.zhita.model.manage.Bankdeductions" resultType="java.lang.Integer">
  				select count(o.id) from bankdeductions b,orders o,user u,deferred defe
  				<where>
  					AND defe.orderId = o.id
  					AND o.id = b.orderId
  					AND defe.orderId = o.id
  					AND o.companyId = #{companyId}
  					<if test="orderNumber != null and orderNumber != ''">
  						AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
  					</if>
  					<if test="name != null and name != ''">
  						AND u.name LIKE concat('%',#{name},'%')  
  					</if>
  					<if test="phone != null and phone != ''">
  						AND u.phone LIKE concat('%',#{phone},'%') 
  					</if>
  					<if test="bankcardName != null and bankcardName != ''">
  						AND b.bankcardName = #{bankcardName}
  					</if>
  					<if test="startu_time != null and startu_time != '' and end_time != null and end_time != ''">
  						AND defe.deferAfterReturntime between #{startu_time} and #{end_time}
  					</if>
  					<if test="statu_timeOrder != null and statu_timeOrder != '' and end_timeOrder != null and end_timeOrder != ''">
  						AND o.orderCreateTime between #{startu_time} and #{end_time}
  					</if>
  					<if test="overdueGrade != null and overdueGrade != ''">
  						AND o.overdueGrade = #{overdueGrade}
  					</if>
  				</where>
  			</select>
  			
  			
  			
  			<select id="BankDeduOrder" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Orderdetails">
  				select ord.orderId,o.orderNumber,u.name,u.phone,o.borrowMoneyWay,o.borrowTimeLimit,o.shouldReturnTime,ord.overdueNumberOfDays,ord.interestPenaltySum,
				o.orderCreateTime,ord.realityBorrowMoney,ord.makeLoans,ord.realityAccount,colme.account as reallyName,o.overdueGrade,ord.surplus_money,col.collectionTime,
				col.promise_money,col.promise_money,
				col.collectionTime,col.collectionStatus,o.orderStatus,defe.deferBeforeReturntime,defe.deferAfterReturntime  
				 from orders o LEFT JOIN orderdetails ord ON o.id = ord.orderId
				 LEFT JOIN collection col on o.id = col.orderId
				 LEFT JOIN sys_user colme on colme.userId = col.collectionMemberId
				 LEFT JOIN user u ON o.userId = u.id
				 LEFT JOIN bankdeductions banl on banl.orderId = o.orderId
				 LEFT JOIN deferred defe on defe.orderId = o.id
  				<where>
  					AND o.companyId = #{companyId}
  					<if test="orderNumber != null and orderNumber != ''">
  						AND o.orderNumber LIKE concat('%',#{orderNumber},'%')  
  					</if>
  					<if test="name != null and name != ''">
  						AND u.name  LIKE concat('%',#{name},'%') 
  					</if>
  					<if test="phone != null and phone != ''">
  						AND u.phone  LIKE concat('%',#{phone},'%')
  					</if>
  					<if test="bankcardName != null and bankcardName != ''">
  						AND b.bankcardName = #{bankcardName}
  					</if>
  					<if test="startu_time != null and startu_time != '' and end_time != null and end_time != ''">
  						AND defe.deferAfterReturntime between #{startu_time} and #{end_time}
  					</if>
  					<if test="statu_timeOrder != null and statu_timeOrder != '' and end_timeOrder != null and end_timeOrder != ''">
  						AND o.orderCreateTime between #{startu_time} and #{end_time}
  					</if>
  					<if test="overdueGrade != null and overdueGrade != ''">
  						AND o.overdueGrade = #{overdueGrade}
  					</if>
  				</where>
  				group by banl.orderId
  				limit #{page},#{pagesize}
  			</select>
  			
  			
  			
  			<select id="BanAll" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Bankdeductions">
  				select * from bankdeductions where orderId = #{orderId}
  			</select>
  			
  			
  			
  			
  			
  			<select id="DelayTatolCount" parameterType="com.zhita.model.manage.Bankdeductions" resultType="java.lang.Integer">
  				select count(id) from Bankdeductions 
  				<where>
  					<if test="startu_time != null and startu_time != '' and end_time != null and end_time != ''">
  						AND deduction_time between #{startu_time} and #{end_time}
  					</if>
  				</where>
  			</select>
  			
  			
  			
  			
  			<select id="DelayStatisc" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select d.deferAfterReturntime,count(d.orderid) as orderNum,o.companyId,
  				sum(d.interestOnArrears) as interestOnArrearsSum from deferred d left join orders o on o.id = d.orderid
  				<where>
  					AND o.companyId = #{companyId}
  					<if test="startu_time != null and startu_time != '' and end_time != null and end_time != ''">
  						AND d.deferAfterReturntime between #{startu_time} and #{end_time}
  					</if>
  				</where>
  				group by d.deferAfterReturntime
  				limit #{page},#{pagesize}
  			</select>
  			
  			
  			
  			<select id="BankdeduCtionsData" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select b.deferredTime,count(b.id) as orderNum,sum(b.interestOnArrears) as deferredamount from deferred b,orders o 
  				<where> 
  				o.id = b.orderid
  				and o.companyId = #{companyId}
  				AND b.deferredTime between #{startu_time} and #{end_time}
  				</where>
  			</select>
  			
  			
  			
  			<select id="BankDefeData" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select de.deferredTime,count(de.id) as orderNum,sum(de.interestOnArrears) as interestOnArrearsSum from deferred de,orders o
  				where o.companyId = #{companyId} and de.orderId = o.id and de.deferredTime between #{startu_time} and #{end_time}
  			</select>
  			
  			
  			
  			<select id="DefeRRe" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select count(de.id) as orderNum,sum(de.interestOnArrears) as interestOnArrearsSum from deferred de,orders o
  				where o.id = de.orderId and o.companyId = #{companyId} and de.deferredTime between #{statu_time} and #{end_time}
  			</select>
  			
  			
  			
  			<select id="OneBank" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select count(o.id) as realborrowing,sum(ord.realityBorrowMoney) as realexpenditure,count(o.id) as realreturn,sum(ord.makeLoans) as paymentamount,
  				sum(ord.interestPenaltySum) as overdueamount from orders o,orderdetails ord 
  				 <where>
  				 AND o.id = ord.orderId
  				 AND o.companyId = #{companyId}
  				 <if test="startu_time != null and startu_time != '' and end_time != null and end_time != ''">
  				 	AND o.realtime between #{startu_time} and #{end_time}
  				 </if>
  				 </where>
  			</select>
  			
  			
  			
  			
  			<select id="OnDefe" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select count(ord.orderId) as realborrowing,sum(ord.makeLoans) as realexpenditure from payment_record pay,orders o,orderdetails ord where 
  				o.id = pay.orderId and o.companyId = 3 and ord.orderId = o.id and pay.remittanceTime between #{start_time} and #{end_time}
  			</select>
  			
  			
  			
  			
  			<select id="Onrepayment" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select count(ray.id) as realborrowing,sum(ray.repaymentMoney) as realexpenditure from repayment ray,orders o where o.id = ray.orderId 
  				and o.companyId = #{companyId} and ray.repaymentDate between #{start_time} and #{end_time}
  			</select>
  			
  			
  			
  			<select id="OneCollection" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select count(ord.orderId) as overdueNum,sum(ord.interestPenaltySum) as overdueamount from collection c,orders o,orderdetails ord 
  				where ord.orderId = o.id and o.id = c.orderId and o.companyId = #{companyId} and c.collectionTime between #{start_time} and #{end_time}
  			</select>
  			
  			
  			
  			<select id="OneMoney" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select count(de.id) as defeNum,sum(de.interestOnArrears) as deferredamount from deferred de,orders o where de.orderId = o.id and 
  				 o.companyId = #{companyId} and de.deferredTime between #{start_time} and #{end_time}
  			</select>
  			
  			
  			<select id="YanMoney" parameterType="com.zhita.model.manage.Bankdeductions" resultType="java.math.BigDecimal">
  				select sum(d.interestOnArrears) as deferredamount from deferred d,orders o 
  				<where>
  					AND o.id = d.orderid
  					AND o.companyId = #{companyId}
  					 <if test="startu_time != null and startu_time != '' and end_time != null and end_time != ''">
  					 	AND o.realtime between #{startu_time} and #{end_time}
  					 </if>
  				</where>
  			</select>
  			
  			
  			<insert id="AddOffJianMian" parameterType="com.zhita.model.manage.Offlinjianmian">
  				INSERT INTO `offlinjianmian`(
  					orderId,
  					fina_id,
  					offusermoney,
  					remarks,
  					sedn_time
  				)VALUES(#{orderId},#{fina_id},#{offusermoney},#{remarks},#{sedn_time})
  			</insert>
  			
  			
  			<update id="UpdateOrderType" parameterType="java.lang.Integer">
  				update orders set orderStatus = "3" where id = #{orderId}
  			</update>
  			
  			
  			<select id="SelectBank" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select count(ban.id) as branKnum,sum(ban.deduction_money) as brankMoney from bankdeductions ban,orders o
  				where o.companyId = #{companyId} and ban.deduction_time = #{deduction_time}
  			</select>
  			
  			
  			
  			<select id="OneCompanyDeferr" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Deferred_settings">
  				select * from Deferred_settings where companyId = #{companyId}
  			</select>
  			
  			
  			<insert id="AddDelay" parameterType="com.zhita.model.manage.Offlinedelay">
  				INSERT INTO `offlinedelay`(
  					delay_time,
  					extensionfee,
  					remarks,
  					operating_time,
  					sys_userId,
  					orderId
  				)VALUES(#{delay_time},#{extensionfee},#{remarks},#{operating_time},#{sys_userId},#{orderId})
  			</insert>
  			
  			
  			
  			<select id="Allofflinedelay" parameterType="com.zhita.model.manage.Offlinedelay" resultType="com.zhita.model.manage.Offlinedelay">
  				select of.id,of.operating_time,us.account,of.orderId,u.name,u.phone,usa.idcard_number,o.shouldReturnTime,ord.overdueNumberOfDays,
  				of.extensionfee,of.remarks,of.delay_time
  				from offlinedelay of,orders o,orderdetails ord,user u,user_attestation usa,sys_user us
  				<where>
  					of.sys_userId = us.userId 
  					AND u.id = o.userId 
  					AND o.id = of.orderId 
  					AND usa.userId = u.id
					AND ord.orderId = o.id
  					and o.companyId = #{companyId}
  					<if test="orderId != null and orderId != ''">
  						and of.orderId = #{orderId}
  					</if>
  					<if test="name != null and name != ''">
  						and u.name like CONCAT('%',#{name},'%') 
  					</if>
  					<if test="phone != null and phone != ''">
  						and u.phone like CONCAT('%',#{phone},'%')  
  					</if>
  					<if test="statu_time != null and statu_time != '' and end_time != null and end_time != ''">
  						and of.operating_time between #{statu_time} and #{end_time}
  					</if>
  				</where>
  				group by of.id
  				order by of.id desc
  				limit #{page},#{pagesize}
  			</select>
  			
  			
  			
  			<select id="OffTotalCount" parameterType="com.zhita.model.manage.Offlinedelay" resultType="com.zhita.model.manage.Offlinedelay">
  				select count(of.id) from offlinedelay of,sys_user sy,user u,orders o,deferred defe,orderdetails ord,user_attestation ur
  				<where>
  					of.orderId = o.id
  					and o.userId = u.id
  					and ur.userId = u.id
  					and sy.userId =  of.sys_userId
  					and o.id = ord.orderId
  					and defe.orderId = of.orderId
  					<if test="orderId != null and orderId != ''">
  						and of.orderId = #{orderId}
  					</if>
  					<if test="name != null and name != ''">
  						and u.name like CONCAT('%',#{name},'%')   
  					</if>
  					<if test="phone != null and phone != ''">
  						and u.phone like CONCAT('%',#{phone},'%')
  					</if>
  					<if test="statu_time != null and statu_time != '' and end_time != null and end_time != ''">
  						and of.operating_time between #{statu_time} and #{end_time}
  					</if>
  				</where>
  			</select>
  			
  			
  			
  			<select id="BankMoney" parameterType="com.zhita.model.manage.Bankdeductions" resultType="com.zhita.model.manage.Bankdeductions">
  				select sum(b.deduction_money) as deduction_money,count(b.id) as userNum from bankdeductions b,orders o where o.id = b.orderId
  				and o.companyId = #{companyId} and b.deduction_time between #{startu_time} and #{end_time}
  			</select>
  			
  			
  			<select id="LoanName" parameterType="java.lang.Integer" resultType="java.lang.String">
  				select name from loan_setting where id = #{channel}
  			</select>
  			
  			
  			<select id="DeferrAdefe" parameterType="java.lang.Integer" resultType="java.lang.String">
  				select deferAfterReturntime from deferred where orderid = #{orderid}
  			</select>
  			
  			
  			
  			<select id="RepaymentName" parameterType="java.lang.Integer" resultType="java.lang.String">
  				select name from repayment_setting where id= #{channel}
  			</select>
  			
  			
  			<update id="UpdateOrdermoney" parameterType="com.zhita.model.manage.Accountadjustment">
  				update orderdetails set realityBorrowMoney = #{totalamount} where orderId = #{orderId}
  			</update>


			<select id="UpdateOrderTime" parameterType="com.zhita.model.manage.Offlinedelay">
				update orders set shouldReturnTime = #{delay_time} where orderId = #{orderId}
			</select>
			
			
			<update id="OrdersStatus" parameterType="com.zhita.model.manage.Offlinjianmian">
				update orders set orderStatus = "3" where id = #{orderId}
			</update>
 
</mapper>