<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.PostloanorderMapper">

		<resultMap id="OrderMap" type="com.zhita.model.manage.Orderdetails" >
		  <id column="orderDeatilId" property="orderDeatilId" jdbcType="INTEGER" />
		  <result column="name" property="name" jdbcType="VARCHAR"/>
		  <result column="phone" property="phone" jdbcType="VARCHAR"/>
		  <result column="orderId" property="orderId" jdbcType="INTEGER" />
		  <result column="realityBorrowMoney" property="realityBorrowMoney" jdbcType="DECIMAL" />
		  <result column="makeLoans" property="makeLoans" jdbcType="DECIMAL" />
		  <result column="borrowTimeLimit" property="borrowTimeLimit" jdbcType="VARCHAR" />
		  <result column="interestDay" property="interestDay" jdbcType="DECIMAL" />
		  <result column="interestSum" property="interestSum" jdbcType="DECIMAL" />
		  <result column="overdueNumberOfDays" property="overdueNumberOfDays" jdbcType="VARCHAR" />
		  <result column="interestPenaltyDay" property="interestPenaltyDay" jdbcType="DECIMAL" />
		  <result column="interestPenaltySum" property="interestPenaltySum" jdbcType="DECIMAL" />
		  <result column="interestInAll" property="interestInAll" jdbcType="DECIMAL" />
		  <result column="shouldReapyMoney" property="shouldReapyMoney" jdbcType="DECIMAL" />
		  <result column="repaymentPeriods" property="repaymentPeriods" jdbcType="VARCHAR" />
		  <result column="alreadyRepaymentPeriods" property="alreadyRepaymentPeriods" jdbcType="VARCHAR" />
		  <result column="shouldAlsoInterest" property="shouldAlsoInterest" jdbcType="DECIMAL"/>
		  <result column="rejectMonadCause" property="rejectMonadCause" jdbcType="VARCHAR" />
		  <result column="DrainageOfPlatform" property="DrainageOfPlatform" jdbcType="VARCHAR" />
		  <result column="registerClient" property="registerClient" jdbcType="VARCHAR" />
		  <result column="useBazaar" property="useBazaar" jdbcType="VARCHAR" />
		  <result column="deleted" property="deleted" jdbcType="VARCHAR" />
		  <result column="realtime" property="realtime" jdbcType="VARCHAR" />
		  <result column="borrowingtime" property="borrowingtime" jdbcType="VARCHAR" />
		  <result column="returntime" property="returntime" jdbcType="VARCHAR" />
		</resultMap>
		
		
		<select id="allOrderdetails" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select orde.*,o.orderCreateTime,u.name,u.phone,o.orderNumber,o.id,d.deferBeforeReturntime,d.interestOnArrears,d.postponeDate,d.deferAfterReturntime,
			defer.onceDeferredDay,defer.onceDeferredMoney,o.realtime,o.borrowMoneyWay,o.borrowTimeLimit,orde.overdueNumberOfDays
			 from orders o left join user u on o.userid = u.id
			 left join orderdetails orde on orde.orderId = o.id
			<where>
			     AND o.orderStatus = "1"
				AND o.companyId = #{companyId}
			</where>
			 group by orde.orderId desc
			limit #{page},#{pagesize}
		</select>

		
		<select id="OvOrderId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
			select ov.orderId from overdue ov,orders o where o.id = ov.orderId and o.companyId = #{companyId} group by ov.orderId
		</select>

		
		<select id="totalCount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(*) from orderdetails ord,orders o
			<where>
				AND o.companyId = #{companyId}
			    AND o.orderStatus = "1"
				<if test="realityBorrowMoney != null and realityBorrowMoney != ''">
					AND ord.realityBorrowMoney = #{realityBorrowMoney}
				</if>
				<if test="makeLoans != null and makeLoans != ''">
					AND ord.makeLoans = #{makeLoans}
				</if>
				<if test="shouldAlsoInterest != null and shouldAlsoInterest != ''">
					AND ord.shouldAlsoInterest = #{shouldAlsoInterest}
				</if>
				<if test="shouldReapyMoney != null and shouldReapyMoney != ''">
					AND ord.shouldReapyMoney = #{shouldReapyMoney}
				</if>
				<if test="borrowingtime != null and borrowingtime != ''">
					AND ord.borrowingtime = #{borrowingtime}
				</if>
				<if test="realtime != null and realtime != ''">
					AND ord.realtime = #{realtime}
				</if>
			</where>
		</select>




		<select id="allBeoverdueOrderdetails" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select orde.*,u.name,u.phone,o.orderNumber,o.id from orderdetails orde,user u,orders o 
			<where>
			    AND orde.returntime &lt; #{returntime}
				AND o.userId = u.id 
				AND orde.orderId = o.id
				AND o.companyId = #{companyId}
				<if test="realityBorrowMoney != null and realityBorrowMoney != ''">
					AND orde.realityBorrowMoney = #{realityBorrowMoney}
				</if>
				<if test="makeLoans != null and makeLoans != ''">
					AND orde.makeLoans = #{makeLoans}
				</if>
				<if test="shouldAlsoInterest != null and shouldAlsoInterest != ''">
					AND orde.shouldAlsoInterest = #{shouldAlsoInterest}
				</if>
				<if test="shouldReapyMoney != null and shouldReapyMoney != ''">
					AND orde.shouldReapyMoney = #{shouldReapyMoney}
				</if>
				<if test="borrowingtime != null and borrowingtime != ''">
					AND orde.borrowingtime = #{borrowingtime}
				</if>
				<if test="realtime != null and realtime != ''">
					AND orde.realtime = #{realtime}
				</if>
				<if test="borrowMoneyType != null and borrowMoneyType != ''">
					AND o.borrowMoneyType = #{borrowMoneyType}
				</if>
				<if test="orderId != null and orderId != ''">
					AND o.id = #{orderId}
				</if>
				<if test="name != '' and name != null">
					AND u.name LIKE concat('%',#{name},'%')   
				</if>
				<if test="phone != null and phone != ''">
					AND u.phone LIKE concat('%',#{phone},'%')
				</if>
				<if test="borrowMoneyType != null and borrowMoneyType != ''">
					AND o.borrowMoneyType = #{borrowMoneyType}
				</if>
			</where>
			 order by orde.id desc
			limit #{page},#{pagesize}
		</select>
		
		
		
		
		<select id="BeoverduetotalCount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(*) from orderdetails or,orders o
			<where>
				AND o.companyId = #{companyId}
			    AND or.returntime &lt; #{returntime}
				<if test="realityBorrowMoney != null and realityBorrowMoney != ''">
					AND or.realityBorrowMoney = #{realityBorrowMoney}
				</if>
				<if test="makeLoans != null and makeLoans != ''">
					AND or.makeLoans = #{makeLoans}
				</if>
				<if test="shouldAlsoInterest != null and shouldAlsoInterest != ''">
					AND or.shouldAlsoInterest = #{shouldAlsoInterest}
				</if>
				<if test="shouldReapyMoney != null and shouldReapyMoney != ''">
					AND or.shouldReapyMoney = #{shouldReapyMoney}
				</if>
				<if test="borrowingtime != null and borrowingtime != ''">
					AND or.borrowingtime = #{borrowingtime}
				</if>
				<if test="realtime != null and realtime != ''">
					AND or.realtime = #{realtime}
				</if>
			</where>
		</select>
		
		
		
		<select id="SelectOrderDetails" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select o.id,o.orderNumber,u.name,u.phone,o.borrowMoneyWay,o.borrowTimeLimit,o.orderCreateTime,ord.realityBorrowMoney,ord.interestPenaltySum,
			ord.makeLoans,ord.interestSum,ord.InterestInAll,ord.realityAccount,ord.interestInAll
			from orders o,user u,orderdetails ord
			<where>
				o.userId = u.id 
				AND ord.orderId = o.id
 				AND o.orderStatus = "0"
				AND o.companyId = #{companyId}
				AND o.shouldReturnTime between #{start_time} and #{end_time}
				AND o.id not in 
				(select c.orderId from overdue c,orders o where o.id = c.orderId and o.companyId = #{companyId})
			</where>
			group by o.id
			limit #{page},#{pagesize}
		</select>
		
		
		<select id="CollMemberId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
			select userId from sys_user where companyId = #{companyId}
		</select>
		
		
		<select id="SelectNodetId" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select ov.orderId from overdue ov,sys_user come,orders o where 
			come.companyId = #{companyId} and o.companyId = come.userId group by ov.orderId
		</select>
		
		
		
		<select id="WeiNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
			select count(o.id) from orders o,user u,orderdetails ord,deferred_settings deset,overdue ov
			WHERE 
			o.id = ord.orderId 
			and o.id = ov.orderId
			and o.userId = u.id
			and o.companyId = deset.companyId
			and o.companyId = #{companyId}
		</select>
		
		
		
		<select id="OrderDetails" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select orde.*,u.name,o.orderNumber,o.id from orders o,orderdetails orde,user u,collection col
			<where>
			AND o.companyId = #{companyId}
			AND o.id in 
			<foreach collection="ids" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			and u.id = o.userId 
			and orde.orderId = o.id
			and o.id = col.orderId
			and o.shouldReturnTime &gt; #{shouldReturnTime}
			<if test="orderId != null and orderId != ''">
				AND o.id = #{orderId}
			</if>
			<if test="name != null and name != ''">
				AND u.name LIKE concat('%',#{name},'%') 
			</if>
			<if test="phone != null and phone != ''">
				AND u.phone LIKE concat('%',#{phone},'%')
			</if>
			<if test="collectionMemberId != null and collectionMemberId != ''">
				AND col.collectionMemberId = #{collectionMemberId}
			</if>
			</where>
			group by o.id 
			limit #{page},#{pagesize}
		</select>
		
		
		
		<select id="DateNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select collectionTime,count(collectionTime) as collection_count from collection
			<where>
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND collectionTime between #{start_time} and #{end_time}
				</if>
			</where>
		</select>
		
		
		<select id="CollDateNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select ov.collectiondate,count(ov.overdue_id) as collection_count from overdue ov,sys_user c
			<where>
				AND c.userId = ov.collectionMemberId
				AND c.companyId = #{companyId}
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND ov.collectiondate between #{start_time} and#{end_time}
				</if>
			</where>
			GROUP BY collectiondate
			limit #{page},#{pagesize}
		</select>
		
		
		
		
		<select id="MemberName" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select colme.collectionMemberId,colme.account as reallyName,ov.collectiondate,count(ov.collectiondate) as collection_count 
			from overdue ov,sys_user colme
			<where>
				AND colme.companyId = #{companyId}
				AND ov.collectionMemberId = colme.userId 
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND ov.collectiondate between #{start_time} and #{end_time}
				</if>
			</where>
			GROUP BY colme.collectionMemberId
			limit #{page},#{pagesize}
		</select>
		
		
		<select id="MemberNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select colme.account as reallyName,ov.collectiondate,count(ov.collectiondate) as collection_count from 
			overdue ov,sys_user colme
			<where>
				AND colme.companyId = #{companyId}
				AND ov.collectionMemberId = colme.userId 
				<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
					AND ov.collectiondate between #{start_time} and#{end_time}
				</if>
			</where>
		</select>
		
		
		
		<select id="MyOrderdue" resultType="com.zhita.model.manage.Orderdetails" parameterType="com.zhita.model.manage.Orderdetails">
			SELECT ord.orderId,o.orderNumber,u.name,u.phone,o.borrowMoneyWay,o.borrowTimeLimit,o.orderCreateTime,ord.realityBorrowMoney,
			ord.makeLoans,o.shouldReturnTime,ord.interestSum,defeset.onceDeferredDay,ov.overdue_phonestaus,ov.collectiondate
			from orders o,orderdetails ord,deferred_settings defeset,overdue ov,user u
			<where>
				o.id = ord.orderId
				and o.companyId = defeset.companyId
				and ov.orderId = o.id
				and o.companyId = #{companyId}
				and o.userId = u.id
				and ov.collectionMemberId = #{collectionMemberId}
			</where>
			GROUP BY ord.orderId
			limit #{page},#{pagesize}
		</select>
		
		
		
		<select id="MyOrderNum" resultType="com.zhita.model.manage.Orderdetails" parameterType="java.lang.Integer">
			select count(*) from overdue where collectionMemberId = #{collectionMemberId}
		</select>


		<update id="OverdueStatu" parameterType="com.zhita.model.manage.Orderdetails">
			update overdue set overdue_phonestaus=#{overdue_phonestaus} where overdue_id = #{overdue_id}
		</update>
		
		
		<insert id="AddOverdue" parameterType="com.zhita.model.manage.Overdue">
			INSERT INTO `Overdue`(
			overdue_phonestaus,
			collectionMemberId,
			collectiondate,
			orderId,
			statu,
			deled
			)
			VALUES
			(#{overdue_phonestaus},#{collectionMemberId},#{collectiondate},#{orderId},#{statu},#{deled})
		</insert>
		
		
		<select id="connectedNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(ov.overdue_id) from overdue ov,orders o where 
			o.id = ov.orderId
			and o.companyId = 3
			and ov.overdue_phonestaus = #{overdue_phonestaus}
			and ov.collectiondate BETWEEN #{start_time} and #{end_time}
			<if test="collectionMemberId != null and collectionMemberId != ''">
				AND ov.collectionMemberId = #{collectionMemberId}
			</if>
		</select>
		
		
		<select id="OrderIdNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(*) from orders 
			<where>
				AND companyId = #{companyId}
			</where> 
		</select>
		
		
		<select id="OverIdNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(ov.orderId) from overdue ov,orders o,sys_user col
			<where>
			and ov.collectionMemberId = col.userId
			and o.id = ov.orderId
			and o.companyId = col.companyId
			<if test="collectiondate != null and collectiondate != ''">
				AND collectiondate = #{collectiondate}
			</if>
			</where>
			GROUP BY orderId
		</select>
		
		
		<select id="StatusOrders" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(o.id) from overdue ov,orders o where 
			o.id = ov.orderId
			and o.companyId = #{companyId}
			and o.orderStatus = #{orderStatus}
			<if test="collectionMemberId != null and collectionMemberId != ''">
				AND ov.collectionMemberId = #{collectionMemberId}
			</if>
			and ov.collectiondate BETWEEN #{start_time} and #{end_time}
		</select>
		
		
		
		<select id="AOrderDetails" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select o.id,o.orderNumber,u.phone,o.borrowMoneyWay,o.borrowTimeLimit,o.orderCreateTime,ord.realityBorrowMoney,ord.makeLoans,
			o.shouldReturnTime,ord.interestSum,deset.onceDeferredDay,o.orderStatus,clom.account as reallyName,ov.collectiondate,ov.overdue_phonestaus,
			ov.statu,u.name,ord.realityAccount,ord.interestSum,ov.collectiondate
			from orders o,user u,orderdetails ord,deferred_settings deset,overdue ov,sys_user clom	
			<where>
				o.id = ord.orderId 
				and clom.userId = ov.collectionMemberId
				and o.id = ov.orderId
				and o.userId = u.id
				and o.companyId = deset.companyId
				and o.companyId = #{companyId}
				<if test="orderNumber != null and orderNumber != ''">
					AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
				</if>
				<if test="name != null and name != ''">
					AND u.name LIKE concat('%',#{name},'%')
				</if>
				<if test="phone != null and phone != ''">
					AND u.phone LIKE concat('%',#{phone},'%')
				</if>
			</where>
			group by o.id
			limit #{page},#{pagesize}
		</select>
		
		
		
		
		<select id="UserDianlNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(*) from overdue 
			<where>
			 AND collectionMemberId = #{collectionMemberId} 
			 and collectiondate = #{collectiondate}
			 AND trim(overdueNumberOfDays)!=''
			</where>
		</select>
		
		
		<select id="UserNumOrder" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(*) from overdue 
			<where>
			 AND collectionMemberId = #{collectionMemberId} 
			 and collectiondate = #{collectiondate}
			</where>
		</select>
		
		
		<select id="Userphonestaus" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(*) from overdue 
			<where>
			 AND collectionMemberId = #{collectionMemberId} 
			AND overdue_phonestaus = #{overdue_phonestaus}
			</where>
		</select>
		
		
		<select id="UserOrderStatu" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(ov.overdue_id) from overdue ov,orders o
			<where>
				AND ov.orderId = o.id
				AND o.orderStatus = #{orderStatus}
				AND ov.collectionMemberId = #{collectionMemberId}
			</where>
		</select>
		
		
		<select id="UserOrderStatuSame" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(ov.overdue_id) from overdue ov,orders o
			<where>
				AND ov.orderId = o.id
				AND o.orderStatus != #{orderStatus}
				AND ov.collectionMemberId = #{collectionMemberId}
			</where>
		</select>
		
		
		
		
		<select id="YiHuanOrdersTotalCount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(o.id) from orders o,user u,deferred defe
			<where>
			 AND u.id = o.userId
			 AND defe.orderId = o.id
			 AND o.orderStatus = #{orderStatus}
			 AND o.companyId = #{companyId}
			 <if test="name != null and name != ''">
			 	AND u.name LIKE concat('%',#{name},'%') 
			 </if>
			 <if test="overdueGrade != null and overdueGrade != ''">
			 	AND o.overdueGrade = #{overdueGrade}
			 </if>
			 <if test="phone != null and phone != ''">
			 	AND u.phone LIKE concat('%',#{phone},'%') 
			 </if>
			 <if test="orderNumber != null and orderNumber != ''">
			 	AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
			 </if>
			 <if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
				AND o.orderCreateTime between #{start_time} and #{end_time}
			</if>
			<if test="realtimeStatu_time != null and realtimeStatu_time != '' and realtimeEnd_time != null and realtimeEnd_time != ''">
				AND o.realtime between  #{realtimeStatu_time} and #{realtimeEnd_time}
			</if>
			<if test="deferBeforeReturntimeStatu_time != null and deferBeforeReturntimeStatu_time != '' and deferBeforeReturntimeEnd_time != null and deferBeforeReturntimeEnd_time != ''">
				AND o.shouldReturnTime  between #{deferBeforeReturntimeStatu_time} and #{deferBeforeReturntimeEnd_time}
			</if>
			<if test="registeClient != null and registeClient != ''">
				AND u.registeClient = #{registeClient}
			</if>
			 </where>
		</select>
		
		
		<select id="YiHuanOrders" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select ord.orderId,o.orderNumber,u.name,u.phone,u.registeClient,sor.sourceName,o.borrowMoneyWay,o.borrowTimeLimit,o.orderCreateTime,ord.realityBorrowMoney,
			ord.makeLoans,o.realtime,ord.interestSum,ord.overdueNumberOfDays,ord.interestPenaltySum,o.orderStatus,o.realtime,ord.surplus_money,ord.interestDay,o.shouldReturnTime,
			ord.realityAccount,ord.interestPenaltySum,o.overdueGrade
			from orders o,user u,orderdetails ord,source sor
			<where>
				o.id = ord.orderid
				and o.userId = u.id
				and sor.id = u.sourceId
				and o.companyId = #{companyId}
			 <if test="name != null and name != ''">
			 	AND name LIKE concat('%',#{name},'%')  
			 </if>
			 <if test="phone != null and phone != ''">
			 	AND u.phone LIKE concat('%',#{phone},'%') 
			 </if>
			 <if test="orderNumber != null and orderNumber != ''">
			 	AND o.orderNumber LIKE concat('%',#{orderNumber},'%')
			 </if>
			 <if test="overdueGrade != null and overdueGrade != ''">
			 	AND o.overdueGrade = #{overdueGrade}
			 </if>
			 <if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
				AND o.orderCreateTime between #{start_time} and#{end_time}
			</if>
			<if test="realtimeStatu_time != null and realtimeStatu_time != '' and realtimeEnd_time != null and realtimeEnd_time != ''">
				AND o.realtime between  #{realtimeStatu_time} and #{realtimeEnd_time}
			</if>
			<if test="deferBeforeReturntimeStatu_time != null and deferBeforeReturntimeStatu_time != '' and deferBeforeReturntimeEnd_time != null and deferBeforeReturntimeEnd_time != ''">
				AND o.shouldReturnTime  between #{deferBeforeReturntimeStatu_time} and #{deferBeforeReturntimeEnd_time}
			</if>
			<if test="deferAfterReturntimeStatu_time != null and deferAfterReturntimeStatu_time != '' and deferAfterReturntimeEnd_time != null and deferAfterReturntimeEnd_time != ''">
				AND defe.deferAfterReturntime between #{deferAfterReturntimeStatu_time} and #{deferAfterReturntimeEnd_time}
			</if>
			<if test="registeClient != null and registeClient != ''">
				AND u.registeClient = #{registeClient}
			</if>
			<if test="status1 != null and status1 != '' and status2 != null and status2 != ''">
				AND o.orderStatus BETWEEN #{status1} and #{status2}
			</if>
			 </where>
			 GROUP BY ord.orderId
			 limit #{page},#{pagesize}
		</select>
		
		
		<select id="HuaiZhangOrdersAA" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select ord.orderId,o.orderNumber,u.name,u.phone,u.registeClient,sor.sourceName,o.borrowMoneyWay,o.borrowTimeLimit,o.orderCreateTime,ord.realityBorrowMoney,
			ord.makeLoans,o.realtime,ord.interestSum,ord.overdueNumberOfDays,ord.interestPenaltySum,o.orderStatus,o.realtime,ord.surplus_money,ord.interestDay,o.shouldReturnTime,
			ord.realityAccount,ord.interestPenaltySum,o.overdueGrade
			from orders o,user u,orderdetails ord,source sor
			<where>
				o.id = ord.orderid
				and o.userId = u.id
				and sor.id = u.sourceId
				and o.orderStatus = #{orderStatus}
				and o.companyId = #{companyId}
			 <if test="name != null and name != ''">
			 	AND name LIKE concat('%',#{name},'%')  
			 </if>
			 <if test="phone != null and phone != ''">
			 	AND u.phone LIKE concat('%',#{phone},'%') 
			 </if>
			 <if test="orderNumber != null and orderNumber != ''">
			 	AND o.orderNumber LIKE concat('%',#{orderNumber},'%')
			 </if>
			 <if test="overdueGrade != null and overdueGrade != ''">
			 	AND o.overdueGrade = #{overdueGrade}
			 </if>
			 <if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
				AND o.orderCreateTime between #{start_time} and#{end_time}
			</if>
			<if test="realtimeStatu_time != null and realtimeStatu_time != '' and realtimeEnd_time != null and realtimeEnd_time != ''">
				AND o.realtime between  #{realtimeStatu_time} and #{realtimeEnd_time}
			</if>
			<if test="deferBeforeReturntimeStatu_time != null and deferBeforeReturntimeStatu_time != '' and deferBeforeReturntimeEnd_time != null and deferBeforeReturntimeEnd_time != ''">
				AND defe.deferBeforeReturntime between #{deferBeforeReturntimeStatu_time} and #{deferBeforeReturntimeEnd_time}
			</if>
			<if test="deferAfterReturntimeStatu_time != null and deferAfterReturntimeStatu_time != '' and deferAfterReturntimeEnd_time != null and deferAfterReturntimeEnd_time != ''">
				AND defe.deferAfterReturntime between #{deferAfterReturntimeStatu_time} and #{deferAfterReturntimeEnd_time}
			</if>
			<if test="registeClient != null and registeClient != ''">
				AND u.registeClient = #{registeClient}
			</if>
			</where>
			 GROUP BY ord.orderId
			 limit #{page},#{pagesize}
		</select>
		
		
		<select id="CollecOrdersTotalCount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(o.id) from orders o,user u,deferred defe
			<where>
			 AND u.id = o.userId
			 AND o.orderStatus = "1" 
			 AND defe.orderId = o.id
			 AND o.companyId = #{companyId}
			 <if test="name != null and name != ''">
			 	AND name LIKE concat('%',#{name},'%') 
			 </if>
			 <if test="phone != null and phone != ''">
			 	AND u.phone LIKE concat('%',#{phone},'%')  
			 </if>
			 <if test="orderNumber != null and orderNumber != ''">
			 	AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
			 </if>
			 <if test="orderStatus != null and orderStatus != ''">
			 	AND o.orderStatus = #{orderStatus}
			 </if>
			 <if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
				AND o.orderCreateTime between #{start_time} and#{end_time}
			</if>
			 <if test="overdueGrade != null and overdueGrade != ''">
			 	AND o.overdueGrade = #{overdueGrade}
			 </if>
			 <if test="realtimeStatu_time != null and realtimeStatu_time != '' and realtimeEnd_time != null and realtimeEnd_time != ''">
				AND o.realtime between  #{realtimeStatu_time} and #{realtimeEnd_time}
			</if>
			<if test="deferBeforeReturntimeStatu_time != null and deferBeforeReturntimeStatu_time != '' and deferBeforeReturntimeEnd_time != null and deferBeforeReturntimeEnd_time != ''">
				AND defe.deferBeforeReturntime between #{deferBeforeReturntimeStatu_time} and #{deferBeforeReturntimeEnd_time}
			</if>
			<if test="deferAfterReturntimeStatu_time != null and deferAfterReturntimeStatu_time != '' and deferAfterReturntimeEnd_time != null and deferAfterReturntimeEnd_time != ''">
				AND defe.deferAfterReturntime between #{deferAfterReturntimeStatu_time} and #{deferAfterReturntimeEnd_time}
			</if>
			<if test="registeClient != null and registeClient != ''">
				AND u.registeClient = #{registeClient}
			</if>
			</where>
		</select>
		
		
		
		
		<select id="CollecOrders" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select o.id,ord.orderId,o.orderNumber,u.name,u.phone,ord.DrainageOfPlatform,o.borrowMoneyWay,o.borrowTimeLimit,o.orderCreateTime,ord.realityBorrowMoney, 
			ord.makeLoans,defe.deferBeforeReturntime,deset.onceDeferredDay,defe.deferAfterReturntime,defe.interestOnArrears,c.collectionStatus,o.realtime, 
			ord.overdueNumberOfDays,ord.interestPenaltySum,ord.surplus_money,defe.interestOnArrears,colme.account as reallyName,so.sourceName as drainageOfPlatformName,u.registeClient,o.overdueGrade
			from orders o LEFT JOIN user u on u.id = o.userId
			LEFT JOIN orderdetails ord on o.id = ord.orderId
			LEFT JOIN deferred defe on o.id = defe.orderid
			LEFT JOIN deferred_settings deset on o.companyId = deset.companyId
			LEFT JOIN collection c on c.orderId = o.id
			LEFT JOIN sys_user colme on colme.userId = c.collectionMemberId
			LEFT JOIN source so on so.id = u.sourceId
			<where>
				AND	o.companyId = #{companyId}
			    AND o.orderStatus = "1"
			 <if test="name != null and name != ''">
			 	AND name LIKE concat('%',#{name},'%') 
			 </if>
			 <if test="phone != null and phone != ''">
			 	AND u.phone LIKE concat('%',#{phone},'%')  
			 </if>
			 <if test="orderNumber != null and orderNumber != ''">
			 	AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
			 </if>
			 <if test="orderStatus != null and orderStatus != ''">
			 	AND o.orderStatus = "1"
			 </if>
			 <if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
				AND o.orderCreateTime between #{start_time} and #{end_time}
			</if>
			 <if test="overdueGrade != null and overdueGrade != ''">
			 	AND o.overdueGrade = #{overdueGrade}
			 </if>
			 <if test="realtimeStatu_time != null and realtimeStatu_time != '' and realtimeEnd_time != null and realtimeEnd_time != ''">
				AND o.realtime between  #{realtimeStatu_time} and #{realtimeEnd_time}
			</if>
			<if test="deferBeforeReturntimeStatu_time != null and deferBeforeReturntimeStatu_time != '' and deferBeforeReturntimeEnd_time != null and deferBeforeReturntimeEnd_time != ''">
				AND defe.deferBeforeReturntime between #{deferBeforeReturntimeStatu_time} and #{deferBeforeReturntimeEnd_time}
			</if>
			<if test="deferAfterReturntimeStatu_time != null and deferAfterReturntimeStatu_time != '' and deferAfterReturntimeEnd_time != null and deferAfterReturntimeEnd_time != ''">
				AND defe.deferAfterReturntime between #{deferAfterReturntimeStatu_time} and #{deferAfterReturntimeEnd_time}
			</if>
			<if test="registeClient != null and registeClient != ''">
				AND u.registeClient = #{registeClient}
			</if>
			</where>
			GROUP BY o.id
			limit #{page},#{pagesize}
		</select>
		
		
		<select id="Phone_num" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(c.collectionId) from orders o,collection c where c.orderId = o.id and o.companyId = #{companyId} and c.orderId = #{orderId}
		</select>
		
		
		
		<select id="HuaiZhangOrdersTotalCount" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(c.collectionId) from orders o,collection c,user u,blacklist_user bl,whitelist_user wh,deferred defe
			<where>
				 AND o.id = defe.orderId
				 AND wh.phone = u.phone
				 AND u.id = o.userId
				 AND c.orderId = o.id
				 AND o.companyId = #{companyId}
				 AND bl.userId = u.id
			 <if test="name != null and name != ''">
			 	AND name LIKE concat('%',#{name},'%')
			 </if>
			 <if test="phone != null and phone != ''">
			 	AND u.phone LIKE concat('%',#{phone},'%') 
			 </if>
			 <if test="orderNumber != null and orderNumber != ''">
			 	AND o.orderNumber LIKE concat('%',#{orderNumber},'%') 
			 </if>
			 <if test="orderStatus != null and orderStatus != ''">
			 	AND o.orderStatus = "4"
			 </if>
			 <if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
				AND o.orderCreateTime between #{start_time} and#{end_time}
			</if>
			<if test="overdueGrade != null and overdueGrade != ''">
				AND o.overdueGrade = #{overdueGrade}
			</if>
			<if test="realtimeStatu_time != null and realtimeStatu_time != '' and realtimeEnd_time != null and realtimeEnd_time != ''">
				AND o.realtime between  #{realtimeStatu_time} and #{realtimeEnd_time}
			</if>
			<if test="deferBeforeReturntimeStatu_time != null and deferBeforeReturntimeStatu_time != '' and deferBeforeReturntimeEnd_time != null and deferBeforeReturntimeEnd_time != ''">
				AND defe.deferBeforeReturntime between #{deferBeforeReturntimeStatu_time} and #{deferBeforeReturntimeEnd_time}
			</if>
			<if test="deferAfterReturntimeStatu_time != null and deferAfterReturntimeStatu_time != '' and deferAfterReturntimeEnd_time != null and deferAfterReturntimeEnd_time != ''">
				AND defe.deferAfterReturntime between #{deferAfterReturntimeStatu_time} and #{deferAfterReturntimeEnd_time}
			</if>
			<if test="registeClient != null and registeClient != ''">
				AND u.registeClient = #{registeClient}
			</if>
			</where>
		</select>
		
		
		
		<select id="HuaiZhangOrders" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Orderdetails">
			select o.id,ord.orderId,o.orderNumber,u.name,u.phone,ord.DrainageOfPlatform,o.borrowMoneyWay,o.borrowTimeLimit,o.orderCreateTime,ord.realityBorrowMoney, 
			ord.makeLoans,defe.deferBeforeReturntime,deset.onceDeferredDay,defe.deferAfterReturntime,defe.interestOnArrears,c.collectionStatus,o.realtime,
			ord.overdueNumberOfDays,ord.interestPenaltySum,ord.surplus_money,defe.interestOnArrears,colme.account as reallyName,drain.drainageOfPlatformName,u.registeClient,o.overdueGrade
			from orders o LEFT JOIN user u on u.id = o.userId
			LEFT JOIN orderdetails ord on o.id = ord.orderId
			LEFT JOIN deferred defe on o.id = defe.orderid
			LEFT JOIN deferred_settings deset on o.companyId = deset.companyId
			LEFT JOIN collection c on c.orderId = o.id
			LEFT JOIN sys_user colme on colme.userId = c.collectionMemberId
			LEFT JOIN drainage_of_platform drain on drain.id = u.drainageOfPlatformId
			<where>
				AND	o.companyId = #{companyId}
			    AND o.orderStatus = "4"
			 <if test="name != null and name != ''">
			 	AND name LIKE concat('%',#{name},'%')  
			 </if>
			 <if test="overdueGrade != null and overdueGrade != ''">
			 	AND o.overdueGrade = #{overdueGrade}
			 </if>
			 <if test="phone != null and phone != ''">
			 	AND u.phone LIKE concat('%',#{phone},'%') 
			 </if>
			 <if test="orderNumber != null and orderNumber != ''">
			 	AND o.orderNumber LIKE concat('%',#{orderNumber},'%')
			 </if>
			 <if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
				AND o.orderCreateTime between #{start_time} and #{end_time}
			</if>
			<if test="realtimeStatu_time != null and realtimeStatu_time != '' and realtimeEnd_time != null and realtimeEnd_time != ''">
				AND o.realtime between  #{realtimeStatu_time} and #{realtimeEnd_time}
			</if>
			<if test="deferBeforeReturntimeStatu_time != null and deferBeforeReturntimeStatu_time != '' and deferBeforeReturntimeEnd_time != null and deferBeforeReturntimeEnd_time != ''">
				AND defe.deferBeforeReturntime between #{deferBeforeReturntimeStatu_time} and #{deferBeforeReturntimeEnd_time}
			</if>
			<if test="deferAfterReturntimeStatu_time != null and deferAfterReturntimeStatu_time != '' and deferAfterReturntimeEnd_time != null and deferAfterReturntimeEnd_time != ''">
				AND defe.deferAfterReturntime between #{deferAfterReturntimeStatu_time} and #{deferAfterReturntimeEnd_time}
			</if>
			<if test="registeClient != null and registeClient != ''">
				AND u.registeClient = #{registeClient}
			</if>
			</where>
			group by o.id
			limit #{page},#{pagesize}
		</select>
		
		
		
		
		<select id="OrderDefeNum" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select count(id) from deferred where orderid = #{orderId}
		</select>
		
		
		
		
		
		<update id="UserOverdue" parameterType="com.zhita.model.manage.Overdue">
			update overdue set overdue_phonestaus = #{overdue_phonestaus} where orderId =#{orderId} AND collectionMemberId = #{collectionMemberId}
		</update>
		
		
		
		<select id="OneDeferred" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Deferred">
			select * from deferred defe where defe.id = 
			(select max(defe.id) from deferred defe,orders o where o.id = #{orderId} and o.companyId = #{companyId})
		</select>
		
		
		
		<select id="CollTimeData" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select count(id) as collection_count,sum(shouldReapyMoney) as shouldReapyMoney from orders where companyId = #{companyId} and id not in (select ov.orderId from overdue ov,orders o where 
			o.companyId = #{companyId} and o.id = ov.orderId)
			AND shouldReturnTime BETWEEN #{start_time} and #{end_time}
		</select>
		
		
		
		
<!-- 		<select id="CollectionYIData" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select count(id) as collection_count,ov.collectionMemberId from orders where companyId = #{companyId} and id in 
			(select ov.orderId from overdue ov,orders o where 
			o.companyId = #{companyId} and o.id = ov.orderId)
			o.shouldReturnTime BETWEEN #{start_time} and #{end_time}
		</select> -->
		
		
		<select id="CollectionYIData" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select com.account as reallyName,ov.collectionMemberId from overdue ov,sys_user com where ov.collectionMemberId = com.userId
			and com.companyId = 3 and ov.collectiondate BETWEEN #{start_time} and #{end_time}
		</select>
		
		
		<select id="CoMentLLection" parameterType="com.zhita.model.manage.Orderdetails" resultType="com.zhita.model.manage.Collection">
			select count(ov.orderId) from overdue ov,sys_user com where com.companyId = 3 and ov.collectionMemberId = 1 
			and ov.collectionMemberId = com.userId
			group by ov.orderId
		</select>
		
		
		<select id="ShijiMoney" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
			select sum(repaymentMoney) as realityAccount  from repayment where orderId = #{orderId}
		</select>
		
		
		
		<select id="YiHuanOrderId" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select id from orders where companyId = #{companyId} and orderStatus = #{orderStatus}
		</select>
		
		
		<select id="DefeOrderId" parameterType="com.zhita.model.manage.Orderdetails" resultType="java.lang.Integer">
			select de.orderid from deferred de,orders o where o.companyId = #{companyId} group by de.orderId
		</select>
		
</mapper>