<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.SmsMapper" >

			
			<insert id="AddSms" parameterType="com.zhita.model.manage.Shortmessage">
				INSERT INTO `shortmessage`
				(
				send_time,
				phonenumber,
				phonenum,
				companyid,
				smg,
				collection_time,
				successnum
				)VALUES(#{send_time},#{phonenumber},#{phonenum},#{companyid},#{smg},#{collection_time},#{successnum})
			</insert>
			
			
			
			<select id="DayShortMessage" parameterType="com.zhita.model.manage.Shortmessage" resultType="com.zhita.model.manage.Shortmessage">
				select send_time,collection_time,sum(phonenum) as phonenum,sum(successnum) as successnum
				from shortmessage where companyid = #{companyid}  
				group by send_time
				limit #{page},#{pagesize}
			</select>
			
			
			<select id="DayTotalCount" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Shortmessage">
				select DATE_FORMAT(send_time,'%Y-%m-%d') as send_time from shortmessage where companyid = #{companyid}
			</select>
			
			
			<select id="AllDayShortMessage" parameterType="com.zhita.model.manage.Shortmessage" resultType="com.zhita.model.manage.Shortmessage">
				select send_time,collection_time,phonenum,successnum from `shortmessage` WHERE DATE_FORMAT(send_time,'%Y-%m-%d')=#{send_time}
				and companyid = #{companyid}
			</select>
			
			
			<select id="AllPhone" parameterType="com.zhita.model.manage.SmsSendResponse" resultType="java.lang.String">
				select u.phone from user u,orders o where o.orderStatus = "0" and o.userId = u.id and o.shouldReturnTime between #{statu_time} and #{end_time} 
				and o.companyid = #{companyid}
			</select>
			
			
			<select id="AllController" parameterType="java.lang.String" resultType="com.zhita.model.manage.Shortmessage">
				select collection_time,send_time,phonenum,successnum from shortmessage where DATE_FORMAT(send_time,'%Y-%m-%d')=#{collection_time}
			</select>
			


			<select id="SelectTimeSize" parameterType="com.zhita.model.manage.Shortmessage" resultType="java.lang.Integer">
				select count(id) from shortmessage where DATE_FORMAT(send_time,'%Y-%m-%d')=#{send_time} and companyid = #{companyid}
			</select>
			
			
			<select id="AllRegist" parameterType="com.zhita.model.manage.Usershortmessage" resultType="java.lang.String">
				select phone from user 
				<where>
				companyId = #{companyId}
					<if test="registeClient != null and registeClient != ''">
						and registeClient = #{registeClient}
					</if>
				</where>
			</select>
			
			
			
			
			<select id="AllUsershortmessage" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Usershortmessage">
				select * from Usershortmessage where companyId = #{companyId}
				limit #{page},#{pagesize}
			</select>
			
			
			<select id="UserPage" parameterType="java.lang.Integer" resultType="java.lang.Integer">
				select count(id) from Usershortmessage where companyId = #{companyId}
			</select>
			
			
			
			
			<insert id="AddUserShortmessage" parameterType="com.zhita.model.manage.Usershortmessage">
				INSERT INTO `usershortmessage`(
					send_time,
					user_type,
					usernum,
					short_text,
					sys_userId,
					companyId
				)VALUES(#{send_time},#{user_type},#{usernum},#{short_text},#{sys_userId},#{companyId})
			</insert>
			
			
			
			<insert id="AddThirdcallTongj" parameterType="com.zhita.model.manage.Thirdcalltongji">
				INSERT INTO `thirdcalltongji`(
					companyId,
					thirdtypeid,
					date,
					deleted
				)VALUES(#{companyId},#{thirdtypeid},#{date},#{deleted})
			</insert>
			
			
</mapper>