<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.SourceMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Source" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyId" property="companyid" jdbcType="INTEGER" />
    <result column="sourceName" property="sourcename" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="manageControlId" property="manageControlId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    s.id, s.companyId, s.sourceName, s.account, s.pwd, s.link, s.status, s.discount, s.templateId,s.manageControlId, s.deleted,
    st.name,mcs.rmModleName
  </sql>
  <!-- 后台管理            根据id查询当前对象信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 后台管理    添加功能 -->
  <insert id="insert" parameterType="com.zhita.model.manage.Source" >
    insert into source (companyId, sourceName,account, pwd, 
    link, discount, templateid,managecontrolid)
    values (#{companyid,jdbcType=INTEGER}, #{sourcename,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{discount,jdbcType=VARCHAR}, #{templateid,jdbcType=INTEGER},#{managecontrolid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Source" >
    insert into source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyid != null" >
        companyId,
      </if>
      <if test="sourcename != null" >
        sourceName,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="sourcename != null" >
        #{sourcename,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Source" >
    update source
    <set >
      <if test="companyid != null" >
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="sourcename != null" >
        sourceName = #{sourcename,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 后台管理      编辑功能 -->
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Source" >
    update source
    set companyId = #{companyid,jdbcType=INTEGER},
      sourceName = #{sourcename,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=VARCHAR},
      templateid = #{templateid,jdbcType=VARCHAR},
      managecontrolid = #{managecontrolid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 后台管理      查询渠道表所有信息 -->
  <select id="queryAll" parameterType="java.lang.Integer" resultType="com.zhita.model.manage.Source">
  	select 
    <include refid="Base_Column_List" />
    from source s left join source_template st on s.templateId=st.id left join manage_control_settings mcs on s.manageControlId=mcs.id
    where s.companyId=#{arg0} and s.deleted=0
  </select>
  
  <!-- 后台管理        根据id  对当前对象的假删除状态进行修改 -->
  <update id="updateFalDel" parameterType="java.lang.Integer">
  	update source set deleted=1 where id=#{arg0}
  </update>
  <!-- 后台管理        添加功能（判断该渠道名是否在渠道表存在    其假删除状态是1） -->
  <select id="ifSourceNameIfExist" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(sourceName) from source where sourceName=#{arg0}
  </select>
  <!-- 后台管理        添加功能（该渠道在渠道表已经存在   只需做修改） -->
  <update id="updateSource" parameterType="com.zhita.model.manage.Source">
  	update source
    set companyId = #{companyid,jdbcType=INTEGER},
      sourceName = #{sourcename,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=VARCHAR},
      templateid = #{templateid,jdbcType=VARCHAR},
      managecontrolid = #{managecontrolid,jdbcType=VARCHAR},
      deleted = 0
    where sourcename = #{sourcename,jdbcType=VARCHAR}
  </update>
  <!--后台管理       查询当天各个渠道在用户表的注册数量  -->
  <select id="queryAllSourceByUser" resultType="com.zhita.model.manage.TongjiSorce">
	select t.sourceid,count(*) registernum,t.companyid,t.sourcename from 
   	(select u.sourceid,s.sourcename,u.phone,u.registeTime,u.companyid from user u left join source s on u.sourceId=s.id where u.companyid=#{arg0}
   	and u.registeTime>=#{arg1} and u.registeTime &lt;#{arg2}) t 
   	group by t.sourceid
   </select>
   <!-- 后台管理        查询当天各个渠道在用户表的注册数量(通过渠道查询) -->
   <select id="queryAllSourceBySouce" resultType="com.zhita.model.manage.TongjiSorce">
	select t.sourceid,count(*) registernum,t.companyid,t.sourcename from 
   	(select u.sourceid,s.sourcename,u.phone,u.registeTime,u.companyid from user u left join source s on u.sourceId=s.id 
    	where u.companyid=#{companyid} and u.registeTime>=#{StartTime} and u.registeTime &lt;#{EndTime}
        <if test="sourceid != null and sourceid!='' ">
          and u.sourceid =#{sourceid,jdbcType=INTEGER}
        </if>
   	) t 
   	group by t.sourceid
   </select>
   <!-- 后台管理        通过渠道名称查询出当前渠道的折扣率 -->
   <select id="queryDiscount" resultType="java.lang.String">
   	select discount from source where id=#{arg0} and companyId=#{arg1}
   </select>
   <!--后台管理             查询某一天某个渠道的注册数量  -->
   <select id="queryAllSourceByUserDetail" resultType="com.zhita.model.manage.TongjiSorce">
	select t.sourceid,count(*) registernum,t.companyid,t.sourcename from 
	(select u.sourceid,s.sourcename,u.phone,u.registeTime,u.companyid from user u left join source s on u.sourceId=s.id where u.companyid=#{arg0}
	 and u.registeTime>=#{arg1} and u.registeTime &lt;#{arg2}) t where t.sourceid=#{arg3}
	 group by t.sourceid 
   </select>

   
   <!-- ====================================================================================== -->
   
       <!-- 通过渠道名字获取它的id -->
    <select id="getsourceId" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select id from source where sourcename = #{sourceId}
  </select>

   <!-- 后台管理     查询当前渠道在user表的所有注册时间 -->
   <select id="queryTime" resultType="java.lang.String">
   		select registeTime from user u,source s where u.sourceId=s.id and u.companyId=#{arg0} and s.sourceName=#{arg1} 
   </select>
    <!--后台管理    查询统计申请数 -->
   <select id="queryApplicationNumber"  resultType="java.lang.Integer">
		select count(u.id) from user u where u.companyId=#{arg0} and u.sourceid=#{arg1} and u.registeTime>=#{arg2} and u.registeTime &lt;#{arg3}
   </select>
    <!-- 后台管理      根据渠道id查询渠道的折扣率 -->
   <select id="queryDiscountById" parameterType="java.lang.Integer" resultType="java.lang.String">
	select discount from source where id=#{arg0}
  </select>
  <!--后台管理         查询当前渠道下有多少用户是登录过得  -->
  <select id="queryCount"  resultType="java.lang.Integer">
  	select count(*) from user u where u.sourceid=#{arg0} and u.loginStatus=1 and u.registeTime>=#{arg1} and u.registeTime &lt;#{arg2}
  </select>
  <!-- 后台管理      当前渠道下所有的用户id -->
  <select id="queryUserid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select u.id from user u  where u.sourceid=#{arg0}
  </select>
  <!-- 后台管理          查询当前用户id是否在个人信息认证表有值 -->
  <select id="queryIfExist" resultType="java.lang.Integer">
  	select count(*) from user_attestation uat inner join user u on uat.userid=u.id where u.id=#{arg0} and uat.authentime>=#{arg1} and uat.authentime &lt;#{arg2}
  </select>
  <!-- 后台管理       查询当前用户id是否在银行卡表有值 -->
  <select id="queryIfExist1" resultType="java.lang.Integer">
  	select count(*) from bankcard b inner join user u on b.userid=u.id where u.id=#{arg0} and b.authentime>=#{arg1} and b.authentime &lt;#{arg2}
  </select>
  <!-- 后台管理     查询当前用户id是否在运营商表有值 -->
  <select id="queryIfExist2" resultType="java.lang.Integer">
  	select count(*) from operator op inner join user u on op.userid=u.id where u.id=#{arg0} and op.authentime>=#{arg1} and op.authentime &lt;#{arg2}
  </select>
  <!-- 后台管理          查询当前渠道所使用的风控       机审风控分数段的值-->
  <select id="querymancon" parameterType="java.lang.String" resultType="java.lang.String">
  	select airappFractionalSegment from manage_control_settings mcs inner join source s on mcs.id=s.manageControlId where s.sourceName=#{arg0}
  </select>
  <!-- 后台管理      查询user表所有的注册时间 -->
  <select id="qeuryAllUserRegistetime" parameterType="java.lang.Integer" resultType="java.lang.String">
  	select registetime from user where companyId=#{arg0}
  </select>
  
    <select id="getmanageControlId" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select manageControlId from source where sourceName =#{sourceName}
  </select>
  <!-- 后台管理      通过人数（包含机审通过和人审通过） -->
  <select id="querypass"  resultType="java.lang.Integer">
  	select count(*) from user where sourceid=#{arg0} and (shareOfState=2 or shareOfState=4) and registeTime>=#{arg1} and registeTime &lt;#{arg2}
  </select>
  <!-- 后台管理     已借款人数 -->
  <select id="queryorderpass" resultType="java.lang.Integer">
  	select count(DISTINCT o.userid) from orders o inner join user u on o.userid=u.id where u.sourceid=#{arg0} and u.registeTime>=#{arg1} and u.registeTime &lt;#{arg2}
  </select>
  <!-- 后台管理      渠道统计模块——申请人数字段 -->
  <select id="queryNum" resultType="java.lang.Integer">
  	select count(*) from user where companyId=#{arg0} and sourceId=#{arg1} and applytime>=#{arg2} and applytime &lt;#{arg3}
  </select>
  
  
      <!-- 根据渠道名获取state-->
    <select id="getstateAndDeleted" parameterType="java.util.Map" resultType="java.lang.String">
		select status from source where companyId=#{companyId} and sourceName = #{sourceName}
	</select>
	
	
	    <!-- 根据渠道名获取deleted -->
    <select id="getDeleted" parameterType="java.util.Map" resultType="java.lang.String">
  select deleted from source where companyId=#{companyId} and sourceName = #{sourceName}
 </select>
 
     <select id="queryByLike1" parameterType="java.util.Map" resultType="java.lang.Integer">
  select id from source where companyId=#{companyId} and sourceName = #{source}
 </select>
 
      <select id="getsourceName" parameterType="java.lang.Integer" resultType="java.lang.String">
  select sourceName from source where id = #{sourceId}
 </select>
 	<!-- 后台管理         根据前端传过来的链接判断该链接是否存在source表 -->
 	<select id="queryIfLink" parameterType="java.lang.String" resultType="java.lang.Integer">
 		select count(*) from source where link = #{arg0} and deleted=0 
	</select>
	<!-- 后台管理       渠道方登录（用户名和密码） -->
	<select id="queryByAccAndPwd" parameterType="java.lang.String" resultType="com.zhita.model.manage.Source">
		select * from source where account=#{arg0} and status=1 and deleted=0
	</select>
</mapper>