<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.StatisticsDao" >

			
			<insert id="AddBankcard" parameterType="com.zhita.model.manage.Bankcard">
				INSERT INTO `bankcard`
				(
				userId,
				attestationStatus,
				bankcardName,
				tiedCardPhone,
				deleted,
				IDcardnumber,
				cstmrnm
				)VALUES(#{userId},#{attestationStatus},#{bankcardName},#{tiedCardPhone},#{deleted},#{IDcardnumber},#{cstmrnm})
			</insert>
			
			
			
			<select id="SelectTrxId" parameterType="com.zhita.model.manage.Bankcard" resultType="java.lang.Integer">
				select id from bankcard where userId = #{userId} AND bankcardName = #{bankcardName} AND tiedCardPhone = #{tiedCardPhone}
			</select>
			
			
			
			<update id="UpdateStatu" parameterType="java.lang.Integer">
				update bankcard set attestationStatus = "1" where id = #{id}
			</update>
			
			
			
			<update id="UpdateOrders" parameterType="com.zhita.model.manage.Orders">
				update orders set orderStatus = "2" where id = #{id}
			</update>
			
			
			<insert id="AddRepay" parameterType="com.zhita.model.manage.Repayment">
				INSERT INTO `repayment`(
					orderid,
					repaymentMoney,
					repaymentDate,
					thirdparty_id,
					pipelinenumber,
					paymentbtiao					
				)VALUES(#{orderid},#{repaymentMoney},#{repaymentDate},#{thirdparty_id},#{pipelinenumber},#{paymentbtiao})
			</insert>
			
			
			<insert id="AddDeferred" parameterType="com.zhita.model.manage.Deferred">
				INSERT INTO `deferred`
				(
				orderid,
				interestOnArrears,
				deferBeforeReturntime,
				postponeDate,
				deferAfterReturntime,
				deferredTime,
				deleted
				)VALUES(#{orderid},#{interestOnArrears},#{deferBeforeReturntime},#{postponeDate},#{deferAfterReturntime},#{deferredTime},#{deleted})
			</insert>



			<select id="SelectUserdelayTimes" parameterType="com.zhita.model.manage.Orders" resultType="java.lang.Integer">
				select delayTimes from user where id = #{userId}
			</select>
			
			
			<update id="UpdateUser" parameterType="com.zhita.model.manage.Orders">
				update user set delayTimes = #{chenggNum} where id = #{userId}
			</update>
			
			
			<select id="SelectOrderId" parameterType="java.lang.String" resultType="java.lang.Integer">
				select id from orders where orderNumber = #{orderNumber}
			</select>
</mapper>