<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.StatisticsDao" >

			
			<insert id="AddBankcard" parameterType="com.zhita.model.manage.Bankcard">
				INSERT INTO `bankcard`
				(
				userId,
				attestationStatus,
				bankcardName,
				tiedCardPhone,
				deleted,
				IDcardnumber,
				cstmrnm
				)VALUES(#{userId},#{attestationStatus},#{bankcardName},#{tiedCardPhone},#{deleted},#{IDcardnumber},#{cstmrnm})
			</insert>
			
			
			
			<select id="SelectTrxId" parameterType="com.zhita.model.manage.Bankcard" resultType="java.lang.Integer">
				select id from bankcard where userId = #{userId} AND bankcardName = #{bankcardName} AND tiedCardPhone = #{tiedCardPhone}
			</select>
			
			
			
			<update id="UpdateStatu" parameterType="java.lang.Integer">
				update bankcard set attestationStatus = "1" where id = #{id}
			</update>

</mapper>