<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.dao.manage.ThirdcalltongjiMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.model.manage.Thirdcalltongji" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="thirdtypeid" property="thirdtypeid" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
    <result column="companyId" property="companyId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, thirdtypeid, date, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from thirdcalltongji
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from thirdcalltongji
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.model.manage.Thirdcalltongji" >
    insert into thirdcalltongji (id, thirdtypeid, date, 
      deleted)
    values (#{id,jdbcType=INTEGER}, #{thirdtypeid,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhita.model.manage.Thirdcalltongji" >
    insert into thirdcalltongji
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="thirdtypeid != null" >
        thirdtypeid,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="thirdtypeid != null" >
        #{thirdtypeid,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhita.model.manage.Thirdcalltongji" >
    update thirdcalltongji
    <set >
      <if test="thirdtypeid != null" >
        thirdtypeid = #{thirdtypeid,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhita.model.manage.Thirdcalltongji" >
    update thirdcalltongji
    set thirdtypeid = #{thirdtypeid,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
       <insert id="setthirdcalltongji" parameterType="java.util.Map">
      insert into thirdcalltongji (thirdtypeid, date, companyId)
      values(#{thirdtypeid},#{date},#{companyId})
    </insert>
</mapper>